USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getPortfolioReportDetails]    Script Date: 5/19/2026 3:49:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER  PROCEDURE [dbo].[arapl_getPortfolioReportDetails]  -- This is the portfolio where we added dealwise PortYELT
	-- Add the parameters for the stored procedure here
--DECLARE
	@PortfolioID INT,
    @ReportDate DATE,
    @Vendor NVARCHAR(255) = 'AIR Worldwide',
    @Fronting NVARCHAR(255),
    @SecurityInstrument NVARCHAR(255),
    @AsOfDate DATE,
    @IncludeExpired INT,
	@RunOff INT = 0,
    @ExportID NVARCHAR(25) OUTPUT,
    @DEBUG INT = 0
AS
--@ReportDate = '8/10/2020', @PortfolioID = 2, @Fronting = 'all', @SecurityInstrument = 'all', @AsOfDate='8/7/2020', @IncludeExpired = 1, @ExportID = @excelID OUTPUT
/****
SET @ReportDate = '2023-03-28 00:00:00.000'  -- This is a date when the report is generated
SET @PortfolioID = 3 -- Portfolio ID
SET @Fronting = 'all' 
SET @SecurityInstrument = 'All'
SET @AsOfDate='2023-03-28 00:00:00.000'
SET @IncludeExpired = 0
--SET @ExportID = '472178' 
SET @Vendor = 'COMPANYVIEW'
SET @DEBUG = 1

--***/
BEGIN
	SET NOCOUNT ON;

    DECLARE 
    @ReportID INT,
    @ILSName NVARCHAR(255),
    @OptimizationLayerID NVARCHAR(255),
    @CipherID NVARCHAR(255),
    @Issuer NVARCHAR(255),
    @BoundDate DATE,
    @ExpirationDate DATE,
    @Fronting_val NVARCHAR(255),
	@Fronted NVARCHAR(10),
    @SecurityInstrument_val NVARCHAR(255),
    @COMPANYShare FLOAT,
    @ROL FLOAT,
    @InitialFees FLOAT,
    @Hedges NVARCHAR(255),
	@BondSellDate DATE,
    @NumberOfPeriods FLOAT,
    @ILSInstrumentID INT

	--@Quantity FLOAT,
	--@PledgedQuantity FLOAT,
	--@PledgedPrct FLOAT

    DECLARE
    @DealID INT,
    @DealMAXID INT,
    @RegionID INT,
    @RegionMaxID INT,
    @Query NVARCHAR(MAX),
    @ActivityID INT,
    @HistID INT,
    @HistMAXID INT,
    @BoundDay INT,
    @ExpirationDay INT,
    @LayerAAL FLOAT,
    @DetailsID INT

    DECLARE
    @PortfolioAAL FLOAT,
    @StandardDeviation FLOAT,
    @AEP5 FLOAT,
	@AEP10 FLOAT,
	@AEP20 FLOAT,
	@AEP25 FLOAT,
	@AEP50 FLOAT,
	@AEP75 FLOAT,
	@AEP100 FLOAT,
    @AEP500 FLOAT,
    @NonModeledAAL FLOAT,
    @CoTVAR100 FLOAT,
    @CoTVAR1000 FLOAT,
    @Premium FLOAT,
    @Expenses FLOAT,
	@BreakevenProb FLOAT,
	@TVar50 FLOAT

    DECLARE
    @RegionAEP_100 FLOAT,
    @RegionAAL FLOAT,
    @RegionTVAR_100 FLOAT,
    @RegionCoTVAR_100 FLOAT,
    @RegionPnL FLOAT,
    @RegionOtherAAL FLOAT,
    @RegionAEP_OtherAAL FLOAT

    DECLARE
    @PnLManagementFees FLOAT,
    @PnLCarry FLOAT,
    @PnLHurdleType NVARCHAR(255),
    @PnLHurdle FLOAT,
    @PnLFrontingFee FLOAT,
    @PnLAcquisitionExpense FLOAT,
    @PnLFET FLOAT,
    @PnLInvestmentIncome FLOAT,
    @PnLOpOrgExpense FLOAT,
	@QSAttritionalLRUSWind  FLOAT,
	@QSAttritionalLRWorldwide FLOAT,
	@ProFormaRateChange FLOAT, 
	@RiskFreeRate FLOAT

    DECLARE
    @InvestedAUM FLOAT = 1,
    @PortPremium FLOAT,
    @AcquisitionExpense FLOAT,
    @FET FLOAT,
    @FrontingFee FLOAT,
    @InvestmentIncome FLOAT,
    @OpOrgExpense FLOAT,
    @PortNonModeledAAL FLOAT,
    @NotionalShortOccLimit FLOAT,
    @NotionalShortAggLimit FLOAT,
    @ManagementFee FLOAT,
    @Carry FLOAT,
    @PortStdDev FLOAT,
	@CSD FLOAT,
	@NSD FLOAT
    
    DECLARE 
    @HistoricalEventID INT,
    @HistoricalEventName NVARCHAR(255),
    @IndustryLoss FLOAT

    DECLARE
    @RegionCode NVARCHAR(Max),
    @SubRegionCode NVARCHAR(255),
    @CountryCode NVARCHAR(255),
    @PerilCode INT,
    @Invert INT,
    @InvertedIDs NVARCHAR(255),
    @RegionPerilDescription NVARCHAR(255)

    DECLARE
    @tblAnalysis NVARCHAR(255),
    @tblBoundPortfolioDetails NVARCHAR(255),
    @tblPortYELT NVARCHAR(255),
    @tblPortDetailsYELT NVARCHAR(255),
    @tblHistorical NVARCHAR(255),
    @tblAALByMonth NVARCHAR(255),
    @tblSummary NVARCHAR(255),
    @tblbyRegionPerilbyDeal NVARCHAR(255),
    @tblLeverageCalculation NVARCHAR(255),
    @tblbyRegionPerilILSType NVARCHAR(255),
    @tblbyRegionPerilPortfolio NVARCHAR(255),
	@tblPortDetailsDealYELT NVARCHAR(255)
	--@OutputTable NVARCHAR(510),
   -- @OutputDetailsTable NVARCHAR(510)
    
    DECLARE @FrontingID INT = 1
    DECLARE @FrontingMAXID INT
    DECLARE @SecurityInstrumentID INT = 1
    DECLARE @SecurityInstrumentMAXID INT
    
    DECLARE @TVAR_1000 FLOAT
    DECLARE @OEP_1667 FLOAT
	DECLARE @AEPquake_500 FLOAT
    DECLARE @MinEventCollateral FLOAt
    DECLARE @MaxContractLiability FLOAT
    DECLARE @LeverageAmount FLOAT
    DECLARE @LeverageFee FLOAT
    DECLARE @LeverageFrontingFee FLOAT
    DECLARE @GrossPremium FLOAT
    DECLARE @LeverageExpenses FLOAT
    DECLARE @InvestedCollateral FLOAT
    DECLARE @TotalAUM FLOAT
    DECLARE @CountYLTYears FLOAT
	DECLARE @PrincipalAmount FLOAT

    DECLARE 
    @ProfitCommissionPerc FLOAT,
    @HurdlePerc FLOAT,
    @HurdleType NVARCHAR(255) = 'Hard',
    @OtherExpenses FLOAT,
    @ProfitCommission FLOAT,
    @ProfitWOCommission FLOAT

    DECLARE @SingleLimit FLOAT
        
	
    /**** create output ExportID
    All temporary tables will have this suffix
    ****/
	 
	SET @ExportID = CAST(FLOOR(RAND() * 1e6) as NVARCHAR(25))
    PRINT @ExportID
    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID
    SET @tblPortYELT = 'ARAPL_Works.dbo.tmpBoundPortYELT_' + @ExportID
    SET @tblPortDetailsYELT = 'ARAPL_Works.dbo.tmpBoundPortDetailsYELT_' + @ExportID
    SET @tblHistorical = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byHistoricalEvents_' + @ExportID
    SET @tblAALByMonth = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_AALByMonth' + @ExportID
    SET @tblbyRegionPerilbyDeal = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byRegionPerilDeal_' + @ExportID
    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID
    SET @tblLeverageCalculation = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_LeverageCalculation_' + @ExportID
    SET @tblbyRegionPerilPortfolio = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byRegionPerilPortfolio_' + @ExportID
    SET @tblbyRegionPerilILSType = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byRegionPerilILSType_' + @ExportID
	SET @tblPortDetailsDealYELT = 'ARAPL_Works.dbo.tmpBoundPortDetailsDealYELT_' + @ExportID  --SR: DealwisePortYELT




    /****temp tables
    ****/
    DROP TABLE IF EXISTS #Fronting
    DROP TABLE IF EXISTS #SecurityInstrument
    
    drop table if exists #Fronting
    drop table if exists #LayerYLT
    drop table if exists #PortDetailsYLT
    drop table if exists #PortYLT
    drop table if exists #PortYLT_byFronting
    drop table if exists #PortYLT_byType
	drop table if exists #PortYLT_byDeal
	drop table if exists #PortYLT_QuakeOnly
    drop table if exists #RegionYELT
    drop table if exists #RegionYLT
    drop table if exists #SecurityInstrument
    drop table if exists #SubRegions
    drop table if exists #tmpBoundPortfolio
    drop table if exists #tmpLayerYELT
    drop table if exists #tmpPortDetailsYELT 

    CREATE TABLE #Fronting(
    ID INT IDENTITY(1,1),
    Fronting NVARCHAR(255)
    )

    CREATE TABLE #SecurityInstrument(
    ID INT IDENTITY(1,1),
    SecurityInstrument NVARCHAR(255)
    )
    
    CREATE TABLE #SubRegions(
    ID INT IDENTITY(1,1),
    SubregionCode INT)

    CREATE TABLE #tmpBoundPortfolio(
    ID INT IDENTITY(1,1),
    ILSName NVARCHAR(255),
    OptimizationLayerID NVARCHAR(255),
    CipherID NVARCHAR(255),
    Issuer NVARCHAR(255),
    BoundDate DATE,
    ExpirationDate DATE,
    Fronting NVARCHAR(255),
    SecurityInstrument NVARCHAR(255),
    COMPANYShare FLOAT,
    ROL FLOAT,
    InitialFees FLOAT,
    ActivityID INT,
    DetailsID INT
    )

    CREATE TABLE #tmpPortDetailsYELT(
    EventID INT,
    ILSType NVARCHAR(255),
    Fronting NVARCHAR(255),
    Year INT,
    Day INT,
    Loss FLOAT
    )

    CREATE TABLE #tmpLayerYELT(
    EventID INT,
    Year INT,
    Day INT,
    Loss FLOAT
    )

    CREATE TABLE #PortDetailsYLT(
    Year INT,
    Loss FLOAT,
    Fronting NVARCHAR(255),
    Rank INT
    )
    CREATE TABLE #PortYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT
    )

    CREATE TABLE #PortYLT_byFronting(
    Year INT,
    Fronting NVARCHAR(255),
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT,
    )

    CREATE TABLE #PortYLT_byType(
    Year INT,
    SecurityInstrument NVARCHAR(255),
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT
    )

	  CREATE TABLE #PortYLT_byDeal(   --SR: DealwisePortYELT
	  ILSName NVARCHAR(255),
    Year INT,
    SecurityInstrument NVARCHAR(255),
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT
    )
	
	CREATE TABLE #PortYLT_QuakeOnly(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
	AggTVAR FLOAT
    )

    CREATE TABLE #LayerYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT
    )

    CREATE TABLE #RegionYELT(
    EventID INT,
    Year INT,
    Loss FLOAT
    )
    CREATE TABLE #RegionYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT)

	CREATE TABLE #tmpPortDetailsDealYELT(  --SR: DealwisePortYELT
   	EventID INT,
    ILSType NVARCHAR(255),
	Fronting NVARCHAR(255),
    Year INT,
    Day INT,
    Loss FLOAT,
	ILSName NVARCHAR(255)  )


    SET @Query = ''
    SET @Query = @Query 
    -- Bound Portfolio Details
    + ' IF OBJECT_ID(''' + @tblBoundPortfolioDetails + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblBoundPortfolioDetails + ';'
    + 'CREATE TABLE ' + @tblBoundPortfolioDetails + '( [ID] [int] IDENTITY(1,1), [CipherID] [nvarchar](255), [ILSName] [nvarchar](255), [Issuer] [nvarchar](255), [Hedges] [nvarchar](255), [BoundDate] [datetime], [ExpirationDate] [datetime], [Fronting] [nvarchar](255), [SecurityInstrument] [nvarchar](255), [OccurenceLimit] [float], [AggregateLimit] [float], [Premium100] [float], [COMPANYOccurenceLimit] [float], [COMPANYAggregateLimit] [float],[PrincipalAmount] [float], [CollateralFronted] [float], [BondPrice] [float], [COMPANYShare] [float], [Premium] [float], [InvestedAUM] [float], [ExpectedLoss] [float], [StandardDeviation] [float],[AEP5] float, [AEP10] float, [AEP20] float, [AEP25] float, [AEP50] float, [AEP75] float, [AEP100] float, [AEP500] float, [ActualAUMPercent] [float], [SingleRiskGuideline] [float], [GuidelineCheck] [nvarchar](255), [InitialFees] [float], [Expenses] [float], [ExceptionApproval] [nvarchar](255), [PortfolioID] [int], [BoundSpread] [float], [AUM] [float], [CUSIP] [nvarchar](255), [CollateralPremium] [float], [CollateralFee] [float], [FrontingFee] [float], [NonModeledAndCOMPANYView] [float], [LossRatio] [float], [CoTVAR100] [float], [Return] [float], [ReturnonCoTVAR100] [float], [Profit] [float], [AvgRateChangeProjection] [float], [TTM] [int], [ROL] [float], [Fronted] [nvarchar](10), [CoTVAR1000] [float], [ILSInstrumentID] [int], [ReportID] [int], [OptimizationLayerID] [nvarchar](255), [Comments] [nvarchar](2048), [ContractWordingReceivedDate] datetime, [ContractWordingForwardedtoAONART] datetime, [AuthorizationDate] [datetime], [ConfirmationNoticeDate] [datetime], [ContractExecutedDate] [datetime], [TreatyType] [nvarchar](255), [CoverageType] [nvarchar](255), [CurrencyCode] [char](3), [Series] [nvarchar](255), [Class] [nvarchar](255), [Reset] [nvarchar](255), [LossBasis] [nvarchar](255), [Renewal] [nvarchar](255), [Reinstatements] [int], DetailsID INT, ActivityID INT, BondInitialSpread FLOAT, BondRedemptionPrice FLOAT,Quantity FLOAT,[BondCoupon] FLOAT, [BondTransactionType] [nvarchar](255), [BondBuyDate] datetime,BondSellPrice FLOAT,BondSellDate datetime,QuantityPledged FLOAT,[PledgedPrct] FLOAT,RealisedGain FLOAT,[Appetite Check] nvarchar(255),[IsIn_ID] nvarchar(255),[Attachment Probability] float, [Exhaustion Probability] float,[NRE_ID] nvarchar(255),[Correlation] float, [Co-TVAR 1000 (seasonal)] float, [Collateral_Fronted] float, CurrentAUM float,MaxContLiab float,  layer_group nvarchar(255), ReinRetro nvarchar(255),[OccAgg/QS] nvarchar(255),Tranche nvarchar(255),BreakevenProbability float, Qscore float, [Forward Expiry] datetime, SponsorTier int, CurrExchangeFactor float, AttachProb float, ExhaustProb float)'
    -- Portfolio YELT
    + ' IF OBJECT_ID(''' + @tblPortYELT + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblPortYELT + ';'
    + ' CREATE TABLE ' + @tblPortYELT
    + ' (EventID INT, Year INT, Day INT, Loss FLOAT, Peril INT, Region nvarchar(20), Country INT, SubRegion INT);'
    -- Portfolio Details YELT
    + ' IF OBJECT_ID(''' + @tblPortDetailsYELT + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblPortDetailsYELT + ';'
    + ' CREATE TABLE ' + @tblPortDetailsYELT
    + ' (EventID INT, Year INT, Day INT, Loss FLOAT, ILSType NVARCHAR(255), Fronting NVARCHAR(255), Peril INT, Region nvarchar(20), Country INT, SubRegion INT);'
    -- Historical Events
    + ' IF OBJECT_ID(''' + @tblHistorical + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblHistorical + ';'
    + ' CREATE TABLE ' + @tblHistorical
    + ' (ID INT IDENTITY(1,1), EventID INT, EventName NVARCHAR(Max), EventYear INT, EventType NVARCHAR(255),IndustryLoss FLOAT, OptimizationLayerID NVARCHAR(255), ILSName NVARCHAR(255), LayerLoss FLOAT, DealID INT);'
    -- AALByMonth
    + ' IF OBJECT_ID(''' + @tblAALByMonth + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblAALByMonth + ';'
    + ' CREATE TABLE ' + @tblAALByMonth
    + ' (ID INT IDENTITY(1,1), DetailsID INT, OptimizationLayerID NVARCHAR(255), ILSName NVARCHAR(255), Month INT, AAL FLOAT);'
    -- Region Peril by Deal
    + ' IF OBJECT_ID(''' + @tblbyRegionPerilbyDeal + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblbyRegionPerilbyDeal  + ';'
    + ' CREATE TABLE ' + @tblbyRegionPerilbyDeal 
    + ' (ID INT IDENTITY(1,1), RegionID INT, PerilID INT, RegionPerilID INT, Fronting NVARCHAR(255), OptimizationLayerID NVARCHAR(255), ILSName NVARCHAR(255), LossType NVARCHAR(255), ReturnPeriod FLOAT, Loss FLOAT, Description NVARCHAR(255), DealID INT);'
    -- Portfolio Metrics
    + ' IF OBJECT_ID(''' + @tblSummary + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblSummary + ';'
    + ' CREATE TABLE ' + @tblSummary
    + ' (ID INT IDENTITY(1,1), MetricName NVARCHAR(255), Value NVARCHAR(255));'
    -- Leverage Calculations
    + ' IF OBJECT_ID(''' + @tblLeverageCalculation + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblLeverageCalculation + ';'
    + ' CREATE TABLE ' + @tblLeverageCalculation
    + '(ID INT IDENTITY(1,1), Fronting NVARCHAR(255), Metric NVARCHAR(255), Value FLOAT)'
    -- Portfolio Region Peril with P&L
    + ' IF OBJECT_ID(''' + @tblbyRegionPerilPortfolio + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblbyRegionPerilPortfolio + ';'
    + ' CREATE TABLE ' + @tblbyRegionPerilPortfolio
    + ' (ID INT IDENTITY(1,1), RegionPerilDescription NVARCHAR(255), AAL FLOAT, OtherAAL FLOAT, VAR_100 FLOAT, TVAR_100 FLOAT, CoTVAR_100 FLOAT, AEP_100_OtherAAL FLOAT, PnL FLOAT)'
    -- Portfolio Region Peril by ILSType
    + ' IF OBJECT_ID(''' + @tblbyRegionPerilILSType + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblbyRegionPerilILSType + ';'
    + ' CREATE TABLE ' + @tblbyRegionPerilILSType
    + ' (ID INT IDENTITY(1,1), RegionPerilDescription NVARCHAR(255), ILSType NVARCHAR(255), AAL FLOAT)'

	 -- Portfolio Deal YELT        --SR: DealwisePortYELT
    + ' IF OBJECT_ID(''' + @tblPortDetailsDealYELT + ''', ''U'') IS NOT NULL'
    + ' DROP TABLE ' + @tblPortDetailsDealYELT + ';'
    + ' CREATE TABLE ' + @tblPortDetailsDealYELT
     + ' (ILSName NVARCHAR(255),EventID INT, Year INT, Day INT, Loss FLOAT, ILSType NVARCHAR(255));'



    IF @DEBUG = 0 PRINT @Query

    EXEC sp_executeSQL @Query


	
	
    SET @NumberOfPeriods = case when @Vendor = 'RMS' THEN 1e5 else 1e4 end

    -- Extract the Report ID based on Portfolio ID and Report Date
    SELECT @ReportID = a.ReportID
    FROM PortfolioReport a
    where PortfolioID = @PortfolioID and  CAST(ReportDate AS DATE) = CAST(@ReportDate AS DATE) and Vendor = @Vendor and a.IsDeleted = 0  --SR: Add CAST abd changed the table name from Boundportfolio to PortfolioReport
    IF @DEBUG = 0 
    SELECT @ReportID as ReportID


	----------------------------------------------------------------------


	DECLARE @OutputDetailsTable NVARCHAR(1000) = 'ARAPL_Analysis.dbo.BoundPortDetails_' + CAST(@ReportID AS NVARCHAR(20))
	DECLARE @OutputTable NVARCHAR(1000) = 'ARAPL_Analysis.dbo.BoundPort_' + CAST(@ReportID AS NVARCHAR(20))
	DECLARE @BoundportfolioSummary NVARCHAR(1000) = 'ARAPL_Analysis.dbo.BoundPortfolioSummary_' + CAST(@ReportID AS NVARCHAR(20))

	
	 SET @Query = ''
	 SET @Query = @Query 

		+'IF OBJECT_ID(''' + @OutputTable + ''', ''U'') IS NOT NULL'
		+ ' DROP TABLE ' + @OutputTable + ';'
		+ ' CREATE TABLE ' + @OutputTable
		+ ' (EventID INT, Year INT, Day INT, Loss FLOAT)'
      
	  
		+'IF OBJECT_ID(''' + @OutputDetailsTable + ''', ''U'') IS NOT NULL'
        + ' DROP TABLE ' + @OutputDetailsTable + ';'
        + ' CREATE TABLE ' + @OutputDetailsTable
		+ ' (EventID INT, Year INT, Day INT, Loss FLOAT, ILSType NVARCHAR(255), Fronting NVARCHAR(255), Peril INT, Region nvarchar(20), Country INT);'
   
       -- Portfolio Metrics - BoundPortfolioSummary
		+ ' IF OBJECT_ID(''' + @BoundportfolioSummary + ''', ''U'') IS NOT NULL'
	    + ' DROP TABLE ' + @BoundportfolioSummary + ';'
        + ' CREATE TABLE ' + @BoundportfolioSummary
        + ' (ID INT IDENTITY(1,1), ReportID INT, MetricName NVARCHAR(255), Value NVARCHAR(255));'

    IF @DEBUG = 0 PRINT @Query
	EXEC sp_executeSQL @Query

    -- Convert the fronting and security instrument comma separated lists into tables so that we can do a join easily to filter the fronted deals
    INSERT INTO #Fronting(Fronting)
    SELECT ltrim(rtrim(value))
    FROM string_split(@Fronting, ',')
    
	INSERT INTO #SecurityInstrument(SecurityInstrument)
    SELECT ltrim(rtrim(VALUE))
    FROM string_split(@SecurityInstrument, ',')

    -- get P&L expenses 
    SELECT @PnLAcquisitionExpense = a.AcquisitionExpense, @PnLCarry = a.Carry, @PnLFET = a.FET, @PnLFrontingFee = a.FrontingFee, @PnLHurdle = a.Hurdle, @PnLHurdleType=a.HurdleType, @PnLManagementFees = a.MgmtFees, @PnLOpOrgExpense = a.OpsExpenses, @QSAttritionalLRUSWind = a.QSAttritionalLRUSWind, @QSAttritionalLRWorldwide = a.QSAttritionalLRWorldwide, @ProFormaRateChange = a.ProFormaRateChange, @RiskFreeRate = a.RiskFreeRate
    FROM PortfolioSettings a WHERE @PortfolioID = a.PortfolioID  ---SR : BoundPortfolioSettings has changed to PortfolioSettings

	/*
	-- SR: Get Investment income FIFO-- this is not used unless required.
	SELECT @PnLInvestmentIncome = 4 * sum(a.RealisedGain+a.UnrealisedGain)
    FROM BondPnLResults a 
   
   */

   -- SR: Get investment income----

   SELECT @PnLInvestmentIncome = (b.NotionalAUM-b.DeployedAUM)*@RiskFreeRate from PortfolioReport b
   where b.ReportID=@ReportID
   


    -- Re-evaluate fronting and security instrument list
    IF EXISTS(SELECT * FROM #Fronting WHERE Fronting = 'ALL')
    BEGIN
        TRUNCATE TABLE #Fronting
        SET @Query = 'INSERT INTO #Fronting(Fronting)'
        + ' SELECT Distinct Fronting FROM PortfolioReportDetails WHERE ReportID = ' + CAST(@ReportID as NVARCHAR(255))
        --+ ' WHERE ltrim(rtrim(Fronting)) <> '''' and Fronting is not null'
        EXEC sp_executeSQL @Query
    END
    ELSE
    BEGIN
        UPDATE #Fronting
        SET Fronting = ltrim(rtrim(Fronting)) -- removing the spaces before and after
    END
    SELECT @FrontingMAXID = MAX(ID) FROM #Fronting 
    
    IF EXISTS(SELECT * FROM #SecurityInstrument WHERE SecurityInstrument = 'ALL')
    BEGIN
        TRUNCATE TABLE #securityInstrument
        SET @Query = 'INSERT INTO #SecurityInstrument (SecurityInstrument )'
        + ' SELECT Distinct SecurityInstrument  FROM PortfolioReportDetails WHERE ReportID = ' + CAST(@ReportID as NVARCHAR(255))
        --+ ' WHERE ltrim(rtrim(SecurityInstrument)) <> '''' and Fronting is not null'
        EXEC sp_executeSQL @Query
    END
    SELECT @SecurityInstrumentMAXID = MAX(ID) FROM #SecurityInstrument
    --selecT * from BoundPortfolioDetails order by ID desc

    -- Find the deals in the report
    SET @Query = 'INSERT INTO ' +  @tblBoundPortfolioDetails + '(ILSName, OptimizationLayerID, CipherID, Issuer, BoundDate, ExpirationDate, Fronting, SecurityInstrument, COMPANYShare, ROL,
	InitialFees, ActivityID, DetailsID, OccurenceLimit, AggregateLimit,PrincipalAmount,[Series],[Class],[Reset],[LossBasis],[Renewal],[Reinstatements],
	[ContractWordingReceivedDate],[ContractWordingForwardedtoAONART],[AuthorizationDate],[ConfirmationNoticeDate],[ContractExecutedDate],[TreatyType],
	[CoverageType],[CurrencyCode], CUSIP, Fronted, Hedges, BondPrice, BondInitialSpread, BondRedemptionPrice, SponsorTier, 
	ReinRetro, [OccAgg/QS], [NRE_ID],[ISIN_ID], CurrExchangeFactor,AttachProb,ExhaustProb, 
	AvgRateChangeProjection,Quantity,BondCoupon,BondTransactionType,BondBuyDate,BondSellPrice,BondSellDate,QuantityPledged,RealisedGain, ExceptionApproval, ILSInstrumentID)'--CHANGE
    
	+ ' SELECT a.ILSName, a.OptimizationLayerID, a.CipherID, Issuer, BoundDate, a.ExpirationDate, a.Fronting, a.SecurityInstrument, COMPANYShare, ROL,
	a.InitialFees, b.ActivityID, a.ID, a.OccurenceLimit, a.AggregateLimit,IT.PrincipalAmount,a.[Series],a.[Class], a.[Reset], a.[LossBasis],[Renewal],[Reinstatements],
	[ContractWordingReceivedDate],[ContractWordingForwardedtoAONART],[AuthorizationDate],[ConfirmationNoticeDate],[ContractExecutedDate],[TreatyType],
	[CoverageType],a.[CurrencyCode], ID.CUSIP_ID, Fronted, Hedges, BondPrice, BondInitialSpread, BondRedemptionPrice, SL.SponsorTier,
	case when ID.Security_or_Reinsurance_Type not in (''ILW'', ''CAT Bond'') and SL.SponsorType in (''Insurer'',''Insured'') then ''Rein''
		 when ID.Security_or_Reinsurance_Type not in (''ILW'', ''CAT Bond'') and SL.SponsorType = ''Reinsurer'' then ''Retro'' 
		 else '''' end as ReinRetro, 
	  case when ID.Security_or_Reinsurance_Type not in (''ILW'', ''CAT Bond'') and IT.ReinsuranceTypeCode = ''CATXOL'' then ''Occ''
		when ID.Security_or_Reinsurance_Type not in (''ILW'', ''CAT Bond'') and IT.ReinsuranceTypeCode = ''AGGXOL'' then ''Agg''
		when ID.Security_or_Reinsurance_Type not in (''ILW'', ''CAT Bond'') and IT.ReinsuranceTypeCode = ''QS'' then ''QS''
		else '''' end as [OccAgg/QS],'
	 -- case when b.AnalyzeReLayerGroup = ''g400xxx'' then Qscore1.Qscore else Qscore2.Qscore end as Qscore,
	 -- b.AnalyzeReLayerGroup,
	 + 'a.NRE_ID [NRE_ID],
	  ID.IsInID [ISIN_ID],
	  a.CurrExchangeFactor,
	  IR.AttachProb,
	  IR.ExhaustProb,
	AvgRateChangeProjection,Quantity,BondCoupon,BondTransactionType,BondBuyDate,BondSellPrice,BondSellDate,QuantityPledged,RealizedGain,ExceptionApproval, a.ILSInstrumentID'--CHANGE
    + ' FROM PortfolioReportDetails a'
    + ' INNER JOIN ILSData ID ON a.ILSInstrumentID = ID.ILSInstrumentID'
	+ ' inner join ILSActivityMonitor b on b.AcctGrpId=ID.ILSInstrumentID AND b.JobStatus=128 AND b.IsDefaultAnalysis=1 AND Vendor=''AIR'''
	+ ' INNER JOIN ILSTerms IT ON a.ILSInstrumentID = IT.ILSInstrumentID AND IT.InuringSequenceNumber = 1 and IT.AnalysisSID = b.ActivityID'
	+ ' INNER JOIN SponsorLookup SL ON SL.SponsorID = ID.SponsorID'
	+ ' INNER JOIN ILSResults IR ON IR.ILSInstrumentID  = a.ILSInstrumentID AND IR.Perspective = ''Net Loss'' AND IR.LossType = ''AEP'' AND a.ReportID = @ReportID'-- AND IR.PerilRegionID = 285 AND IR.Vendor = ''' + @Vendor +''''
	--+ ' LEFT JOIN SponsorQscore Qscore1'
	--+ ' ON SL.SponsorTier = Qscore1.SponsorTier and IT.ReinsuranceTypeCode = Qscore1.ReinsuranceTypeCode and SL.SponsorType = Qscore1.SponsorType and Qscore1.layer_group = ''g400xxx'''
	--+ ' LEFT JOIN SponsorQscore Qscore2'
	--+ ' ON SL.SponsorTier = Qscore2.SponsorTier  and b.AnalyzeReLayerGroup = Qscore2.layer_group  and Qscore2.layer_group <> ''g400xxx'''
 ----   + CASE WHEN NOT EXISTS( SELECT * FROM #Fronting where Fronting = 'All')
 ----    THEN ' inner join #Fronting c on a.Fronting = c.Fronting' ELSE '' END
 ----    + CASE WHEN NOT EXISTS( SELECT * FROM #SecurityInstrument WHERE SecurityInstrument = 'ALL')
 ----    THEN ' inner join #SecurityInstrument d on a.[SecurityInstrument] = d.SecurityInstrument' ELSE '' END
 ----   + ' WHERE a.[BoundDate] <= CASE WHEN @IncludeExpired = 0 THEN ''' + cast(@AsOfDate as nvarchar(255)) + ''' ELSE ''2100-1-1'' END'
 ----   + ' AND a.[ExpirationDate] >= CASE WHEN @IncludeExpired = 0 THEN ''' + cast(@AsOfDate as nvarchar(255)) + ''' ELSE ''1900-1-1'' END'
    
    IF @DEBUG = 0 PRINT @Query
	IF @DEBUG = 0 SELECT * FROM #Fronting 
	IF @DEBUG = 0 SELECT * FROM #SecurityInstrument
	IF @DEBUG = 0 PRINT @ReportID
	IF @DEBUG = 0 PRINT @Query
    EXEC sp_executeSQL @Query, N'@IncludeExpired INT, @AsOfDate DATE, @ReportID INT', @IncludeExpired=@IncludeExpired, @AsOfDate=@AsOfDate, @ReportID=@ReportID
    --SELECT @ReportID, * FROM #tmpBoundPortfolio

    --SET @Query = 'SELECT * FROM ' + @tblBoundPortfolioDetails
    --EXEC sp_executeSQL @Query

    -- prepare for historical events
    --SELECT @HistMAXID = MAX(a.ID)
    --FROM HistoricalEvents a
    --WHERE a.SoftwareVersion = case when @Vendor = 'RMS' THEN '21.0' else '10.0' END

    --/******Generate Portfolio YELT tables
    SET @DealID = 1
	
    SET @Query = 'SELECT @DealMAXID = MAX(ID) FROM ' + @tblBoundPortfolioDetails
    EXEC sp_EXECUTESQL @Query, N'@DealMAXID INT OUTPUT', @DealMAXID=@DealMAXID OUTPUT

    IF @DEBUG = 0  SELECT @DealID, @DealMAXID
    WHILE @DealID <= @DealMAXID
    BEGIN
        SET @Query = 'SELECT @ILSName =ILSName,@SecurityInstrument_val = SecurityInstrument, @Fronting_val = Fronting,@Fronted = Fronted, @ActivityID = ActivityID, @COMPANYShare = COMPANYShare, @BoundDate = BoundDate, @ExpirationDate = ExpirationDate,@BondSellDate=BondSellDate, @DealID=ID '
        + ' FROM ' + @tblBoundPortfolioDetails + ' where ID = @DealID'
        EXEC sp_executeSQL @Query, N' @ILSName NVARCHAR(255) OUTPUT,@SecurityInstrument_val NVARCHAR(255) OUTPUT, @Fronting_val NVARCHAR(255) OUTPUT, @Fronted NVARCHAR(10) OUTPUT, @ActivityID INT OUTPUT, @COMPANYShare FLOAT OUTPUT, @BoundDate DATE OUTPUT, @ExpirationDate DATE OUTPUT,@BondSellDate DATE OUTPUT, @DealID INT OUTPUT', @SecurityInstrument_val=@SecurityInstrument_val OUTPUT, @Fronting_val=@Fronting_val OUTPUT, @Fronted = @Fronted OUTPUT, @ActivityID=@ActivityID OUTPUT, @COMPANYShare=@COMPANYShare OUTPUT, @BoundDate=@BoundDate OUTPUT, @ExpirationDate=@ExpirationDate OUTPUT,@BondSellDate = @BondSellDate OUTPUT,@ILSName=@ILSName output,@DealID=@DealID  OUTPUT

		--adding condition for RunOff - If RunOff =1, Bound Date should be equal to the todays date else bound date. 
		--if Run Off = 1 then BoundDate = Today's date / AsOfDate else if RunOff = 0 and security instrument is CAT Bond and bound date < AsofDate then AsOfDate else BoundDate
		IF  @RunOff = 0 AND @SecurityInstrument_val like '%CAT%Bond%'
		BEGIN
			SET @BoundDate = CASE WHEN @BoundDate < @AsOfDate THEN @AsOfDate ELSE @BoundDate END
            
		END	
		IF @RunOff = 1
		BEGIN
				SET @BoundDate = @AsOfDate
		END
		/*
		IF @SecurityInstrument_val like '%CAT%Bond%'
		BEGIN
			SET @BoundDate = CASE WHEN @BoundDate < @AsOfDate THEN @AsOfDate ELSE @BoundDate END
            
		END
		*/
        SET @BoundDay = DATEPART(DY, @BoundDate) - CASE   WHEN  YEAR(@BoundDate) = 2026 and @BoundDate > '2026-12-05' THEN 1 ELSE 0 END
        SET @ExpirationDay = dATEPART(DY, @ExpirationDate) - CASE WHEN YEAR(@ExpirationDate)  = 2026 and @ExpirationDate > '2026-12-05' THEN 1 ELSE 0 END
        SET @tblAnalysis = 'ARAPL_Analysis.dbo.[Analysis_' + CAST(@ActivityID AS NVARCHAR(20))  +']'
        
        IF @DEBUG = 0 PRINT  CAST(@BoundDay AS NVARCHAR(255)) + ': ' +  CAST(@ExpirationDay AS NVARCHAR(255))
        SET @Query = 'INSERT INTO #tmpPortDetailsYELT(EventID, Year, Day, Loss, ILSType, Fronting)'
        + ' SELECT EventID, Year, Day, Loss * ' + CAST(@COMPANYShare AS NVARCHAR(25))
        + ' ,''' + @SecurityInstrument_val + ''',''' + @Fronting_val + ''''
        + ' FROM ' + @tblAnalysis
        
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query


        
		-----SR: DealwisePortYELT
		IF @DEBUG = 0 PRINT  CAST(@BoundDay AS NVARCHAR(255)) + ': ' +  CAST(@ExpirationDay AS NVARCHAR(255))
       SET @Query = 'INSERT INTO #tmpPortDetailsDealYELT(EventID, Year, Day, Loss, ILSType, ILSName)'
	   +' SELECT EventID, Year, Day, Loss * ' + CAST(@COMPANYShare AS NVARCHAR(25)) +    ', ''' + @SecurityInstrument_val + ''', ''' 
	   + CAST(@ILSName AS NVARCHAR(255)) + ''' ' 
	   + ' FROM ' + @tblAnalysis
        
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query

        SET @DealID = @DealID + 1
    END

    SELECT @PortfolioAAL = SUM(Loss)/@NumberOfPeriods FROM #tmpPortDetailsYELT

    IF @Vendor = 'RMS'
    BEGIN
        SET @Query = 'INSERT INTO ' + @tblPortYELT + '(EventID, Year, Day, Loss, Peril, Region, Country, SubRegion)'
        + ' SELECT a.EventID, a.Year, a.Day, SUM(a.Loss) Loss, NULL, NULL, NULL, NULL'
        + ' FROM #tmpPortDetailsYELT a'
        + ' GROUP BY a.EventID, a.Year, a.Day'

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query

        SET @Query = 'INSERT INTO ' + @tblPortDetailsYELT + '(EventID, Year, Day, Loss, ILSType, Fronting, Peril, Region, Country, SubRegion)'
        + ' SELECT a.EventID, a.Year, a.Day, SUM(a.Loss) Loss, a.ILSType, a.Fronting, NULL, NULL, NULL, NULL'
        + ' FROM #tmpPortDetailsYELT a'
        + ' GROUP BY a.EventID, a.ILSType, a.Fronting, a.Year, a.Day'

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query
    END
    ELSE
    BEGIN
        SET @Query = 'INSERT INTO ' + @tblPortYELT + '(EventID, Year, Day, Loss, Peril, Region, Country)' --, SubRegion)'
        + ' SELECT a.EventID, a.Year, a.Day, a.Loss,b.PerilID,b.stateCode,b.countryID'
        + ' FROM (SELECT a.EventID,a.Year, a.Day, SUM(a.Loss) as Loss'
        + ' FROM #tmpPortDetailsYELT a'
        + ' GROUP BY a.EventID,a.Year, a.Day) a'
        + ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final b on a.EventID = b.EventID'

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query

				
        SET @Query = 'INSERT INTO ' + @tblPortDetailsYELT + '(EventID, Year, Day, Loss, ILSType, Fronting, Peril, Region, Country)' --, SubRegion)'
        + ' SELECT a.EventID, a.Year, a.Day, a.Loss,a.ILSType, a.Fronting,b.PerilID,b.stateCode,b.countryID'
        + ' FROM (SELECT a.EventID,a.Year, a.Day, SUM(a.Loss) as Loss, a.ILSType, a.Fronting'
        + ' FROM #tmpPortDetailsYELT   a'
        + ' GROUP BY a.EventID,a.Year, a.Day, a.ILSType, a.Fronting) a'
        + ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final b on a.EventID = b.EventID'

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query

		----SR: DealwisePortYELT
		SET @Query = 'INSERT INTO ' + @tblPortDetailsDealYELT + '(ILSName,EventID, Year, Day, Loss, ILSType)' 
        + ' SELECT a.ILSName,a.EventID, a.Year, a.Day, a.Loss,a.ILSType'
        + ' FROM (SELECT a.ILSName,a.EventID,a.Year, a.Day, SUM(a.Loss) as Loss, a.ILSType'
        + ' FROM #tmpPortDetailsDealYELT a'
        + ' GROUP BY a.ILSName,a.EventID,a.Year, a.Day, a.ILSType) a'
      

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query


		
	   SET @Query = 'INSERT INTO ' + @OutputTable + '(EventID, Year, Day, Loss)'
		+ ' SELECT a.EventID,a.Year, a.Day, a.Loss'
		+ ' FROM (SELECT a.EventID,a.Year, a.Day, SUM(a.Loss) as Loss' 
		+ ' FROM #tmpPortDetailsYELT a '
		+ ' GROUP BY a.EventID, a.Year, a.Day) a'
		+ ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final b on a.EventID = b.EventID'
		IF @DEBUG = 0  PRINT @Query
		EXEC sp_executeSQL @Query

	 SET @Query = 'INSERT INTO ' + @OutputDetailsTable + '(EventID, Year, Day, Loss, ILSType, Fronting, Peril, Region, Country)'
        + ' SELECT a.EventID, a.Year, a.Day, a.Loss,a.ILSType, a.Fronting,b.PerilID,b.stateCode,b.countryID'
        + ' FROM (SELECT a.EventID,a.Year, a.Day, SUM(a.Loss) as Loss, a.ILSType, a.Fronting'
        + ' FROM #tmpPortDetailsYELT   a'
        + ' GROUP BY a.EventID,a.Year, a.Day, a.ILSType, a.Fronting) a'
        + ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final b on a.EventID = b.EventID'

        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query

    END


    SET @Query = 'INSERT INTO #PortYLT (Year, AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year,'
    + ' SUM(Loss), ROW_NUMBER() OVER(order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortYELT + ' a'
    + ' group by Year;'
	+ ' INSERT INTO #PortYLT_QuakeOnly(Year,AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year,'
    + ' SUM(Loss), ROW_NUMBER() OVER(order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortYELT + ' a WHERE peril = 1'
    + ' group by Year;'
    + ' INSERT INTO #PortYLT_byFronting(Year, Fronting,AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year, Fronting,'
    + ' SUM(Loss), ROW_NUMBER() OVER(partition by Fronting order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(partition by Fronting order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(partition by Fronting order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortDetailsYELT + ' a'
    + ' group by Year, Fronting;'

    + ' INSERT INTO #PortYLT_byType(Year, SecurityInstrument,AggLoss, AggRank, OccLoss, OccRank)'--+ @tblBoundPortfolioDetails
    + ' SELECT Year, ILSType,'
    + ' SUM(Loss), ROW_NUMBER() OVER(partition by ILSType order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(partition by ILSType order by MAX(Loss) desc)'
    + ' FROM ' + @tblPortDetailsYELT + ' a'
    + ' group by Year, ILSType;'


	+ ' INSERT INTO #PortYLT_byDeal(ILSName,Year,SecurityInstrument,AggLoss, AggRank, OccLoss, OccRank)'--+ @tblBoundPortfolioDetailsdeal
    + ' SELECT ILSName,Year, ILSType,'
    + ' SUM(Loss), ROW_NUMBER() OVER(partition by ILSType order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(partition by ILSType order by MAX(Loss) desc)'
    + ' FROM ' + @tblPortDetailsDealYELT + ' a'
    + ' group by ILSName,Year, ILSType;'

    IF @DEBUG = 0 PRINT @Query
    EXEC sp_executeSQL @Query

    --/****** Generate Deal-wise stats
    SET @DealID = 1
    WHILE @DealID <= @DealMAXID 
	
	    BEGIN
        SET @Query = 'SELECT @SecurityInstrument_val = SecurityInstrument, @Fronting_val = ltrim(rtrim(Fronting)), @Fronted = ltrim(rtrim(Fronted)), @ActivityID = ActivityID, @COMPANYShare = COMPANYShare, @ROL = ROL, @InitialFees = InitialFees, @BoundDate = BoundDate,@BondSellDate=BondSellDate,@ExpirationDate = ExpirationDate, @Issuer = Issuer, @OptimizationLayerID = OptimizationLayerID, @ILSName = ILSName, @DetailsID = DetailsID, 
		@Premium = COMPANYShare * BondCoupon * ISNULL(PrincipalAmount, 0)*(1 + ISNULL(AvgRateChangeProjection, 0)),
		
		@Hedges = CASE ltrim(rtrim(Hedges)) WHEN NULL THEN ''N'' WHEN '''' THEN ''N'' ELSE ''Y'' END, @ILSInstrumentID=ILSInstrumentID'
        + ' FROM ' + @tblBoundPortfolioDetails + ' where ID = @DealID'
        EXEC sp_executeSQL @Query, N'@SecurityInstrument_val NVARCHAR(255) OUTPUT, @Fronting_val NVARCHAR(255) OUTPUT, @Fronted NVARCHAR(10) OUTPUT, @ActivityID INT OUTPUT, @COMPANYShare FLOAT OUTPUT, @BoundDate DATE OUTPUT,@BondSellDate DATE OUTPUT, @ExpirationDate DATE OUTPUT, @ROL FLOAT OUTPUT, @Issuer NVARCHAR(255) OUTPUT, @OptimizationLayerID NVARCHAR(255) OUTPUT, @ILSName NVARCHAR(255) OUTPUT, @DetailsID INT OUTPUT, @DealID INT, @InitialFees FLOAT OUTPUT, @Premium FLOAT OUTPUT, @Hedges NVARCHAR(255) OUTPUT, @ILSInstrumentID INT OUTPUT', @SecurityInstrument_val=@SecurityInstrument_val OUTPUT, @Fronting_val=@Fronting_val OUTPUT, @Fronted = @Fronted OUTPUT, @ActivityID=@ActivityID OUTPUT, @COMPANYShare=@COMPANYShare OUTPUT, @BoundDate=@BoundDate OUTPUT,@BondSellDate=@BondSellDate OUTPUT, @ExpirationDate=@ExpirationDate OUTPUT, @ROL=@ROL OUTPUT, @Issuer=@Issuer OUTPUT, @OptimizationLayerID=@OptimizationLayerID OUTPUT , @ILSName=@ILSName OUTPUT,@DetailsID=@DetailsID OUTPUT, @DealID =@DealID, @InitialFees=@InitialFees OUTPUT, @Premium =@Premium OUTPUT, @Hedges=@Hedges OUTPUT, @ILSInstrumentID=@ILSInstrumentID OUTPUT
				IF  @RunOff = 0 AND @SecurityInstrument_val like '%CAT%Bond%'
		BEGIN
			SET @BoundDate = CASE WHEN @BoundDate < @AsOfDate THEN @AsOfDate ELSE @BoundDate END
            
		END	
		IF @RunOff = 1
		BEGIN
				SET @BoundDate = @AsOfDate
		END

        /*
		IF @SecurityInstrument_val like '%CAT%Bond%'
        BEGIN
            SET @BoundDate = CASE WHEN @BoundDate < @AsOfDate THEN @AsOfDate ELSE @BoundDate END
        END
		*/

        SET @BoundDay = DATEPART(DY, @BoundDate) - CASE   WHEN  YEAR(@BoundDate) = 2026 and @BoundDate > '2026-12-05' THEN 1 ELSE 0 END
        SET @ExpirationDay = dATEPART(DY, @ExpirationDate) - CASE WHEN YEAR(@ExpirationDate)  = 2026 and @ExpirationDate > '2026-12-05' THEN 1 ELSE 0 END
        SET @tblAnalysis = 'ARAPL_Analysis.dbo.[Analysis_' + CAST(@ActivityID AS NVARCHAR(20)) + ']'

        TRUNCATE TABLE #tmpLayerYELT
        TRUNCATE TABLE #LayerYLT

        /**** Layer YELT ****/
        IF @Vendor = 'RMS'
        BEGIN
            SET @Query = 'INSERT INTO #tmpLayerYELT(EventID, Year, Day, Loss)'
            + ' SELECT a.EventID, a.Year, a.Day, a.Loss *' + CAST(@COMPANYShare AS NVARCHAR(25))
            + ' FROM ' + @tblAnalysis + ' a WHERE a.Loss <>0'
            + CASE WHEN DATEADD(YY, 1, @BoundDate) > dateadd(dd, 1, @ExpirationDate) THEN   -- less than one year
            CASE WHEN @BoundDay > @ExpirationDay THEN  -- bound day more than expiration day
            ' AND (a.Day >= ' + CAST(@BoundDay AS NVARCHAR(255)) + ' OR a.DAY <= ' +  CAST(@ExpirationDay AS NVARCHAR(255)) + ')'
            ELSE ' AND (a.Day between ' + CAST(@BoundDay AS NVARCHAR(255)) + ' AND ' + CAST(@ExpirationDay AS NVARCHAR(255)) + ')' END
            ELSE '' END -- more than one year
            IF @DEBUG = 0 PRINT @Query
            EXEC sp_executeSQL @Query
        END
        ELSE
        BEGIN
            SET @Query = 'INSERT INTO #tmpLayerYELT(EventID, Year, Day, Loss)'
            + ' SELECT a.EventID, a.Year, a.Day, a.Loss *' + CAST(@COMPANYShare AS NVARCHAR(25))
            + ' FROM ' + @tblAnalysis + ' a '
		   + ' LEFT JOIN ARAPL_IndustryLoss..SummaryIndustryLoss_Stoch_Final b on a.EventId = b.EventId WHERE a.Loss <>0 '
  -- AB uncomented this code to allow different dates
 /* + CASE WHEN DATEADD(YY, 1, @BoundDate) > dateadd(dd, 1, @ExpirationDate) THEN   -- less than one year
            CASE WHEN @BoundDay > @ExpirationDay THEN  -- bound day more than expiration day
           ' AND (b.Day >= ' + CAST(@BoundDay AS NVARCHAR(255)) + ' OR b.DAY <= ' +  CAST(@ExpirationDay AS NVARCHAR(255)) + ')'
          ELSE ' AND (b.Day between ' + CAST(@BoundDay AS NVARCHAR(255)) + ' AND ' + CAST(@ExpirationDay AS NVARCHAR(255)) + ')' END
            ELSE '' END -- more than one year*/
          IF @DEBUG =0 PRINT @Query
           EXEC sp_executeSQL @Query
       END

        IF @DEBUG = 0 SELECT @ILSName, @ActivityID, @COMPANYShare, SUM(Loss)/@NumberOfPeriods AAL, @BoundDate BoundDate, @AsOfDate AsOfDate, @ExpirationDate ExpirationDate
        FROM #tmpLayerYELT

        /****Layer YLT
        ****/
        INSERT INTO #LayerYLT(Year, AggLoss, AggRank, OccLoss, OccRank)
        SELECT Year, SUM(Loss), ROW_NUMBER() OVER(order by SUM(ABS(Loss)) desc),
        MAX(Loss), ROW_NUMBER() OVER(Order by MAX(ABS(Loss)) desc)
        FROM #tmpLayerYELT
        group by Year

        /**** Layer stats
        ****/
        SET @LayerAAL = 0
        SET @NonModeledAAL = 0
        SET @StandardDeviation = 0
        SET @AEP5 = 0
		SET @AEP10 = 0
		SET @AEP20 = 0
		SET @AEP25 = 0
		SET @AEP50 = 0
		SET @AEP75 = 0		
		SET @AEP100 = 0
        SET @AEP500 = 0
        SET @CoTVAR100 = 0
        SET @CoTVAR1000 = 0
        SET @Expenses = 0
		SET @BreakevenProb = 0
        SELECT @LayerAAL = SUM(Loss)/@NumberOfPeriods FROM #tmpLayerYELT
        SET @LayerAAL = ISNULL(@LayerAAL, 0)
        IF @LayerAAL <> 0
        BEGIN
            --SELECT @StandardDeviation = STDEVP(AggLoss) FROM #LayerYLT -- can cause issues due to less than 10000 years in YLT
            --SELECT @StandardDeviation =  sqrt(((count(Year)) * VAR(AggLoss) +(count(Year)*(@NumberOfPeriods - count(Year))/@NumberOfPeriods * AVG(AggLoss) * AVG(AggLoss)))/(@NumberOfPeriods)), -- Standard deviation on n
            SELECT @StandardDeviation = sqrt(((count(Year) - 1) * var(AggLoss) + (@NumberOfPeriods - count(Year)) * @NumberOfPeriods / count(Year) *@LayerAAL * @LayerAAL)/(@NumberOfPeriods - 1)) , -- Standard deviation on n-1
            @CountYLTYears = Count(AggLoss)
             FROM #LayerYLT
			SELECT @AEP5 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 5
			SELECT @AEP10 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 10
			SELECT @AEP20 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 20
			SELECT @AEP25 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 25
			SELECT @AEP50 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 50
			SELECT @AEP75 = AGGLoss FROM #LayerYLT where AggRank = cast(@NumberOfPeriods / 75 as int)
            SELECT @AEP100 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 100
            SELECT @AEP500 = AGGLoss FROM #LayerYLT where AggRank = @NumberOfPeriods / 500
            SELECT @CoTVAR100 = SUM(AGGLoss) * 100/@NumberOfPeriods FROM #LayerYLT where year in (SELECT year FROM #PortYLT where AggRank <= @NumberOfPeriods / 100)
			SELECT @BreakevenProb = 1 - count(*) / 1e4 FROM #LayerYLT where AggLoss >= @Premium

            IF /*@Fronted = 'Y'*/
			left(@Fronting_val,3) = 'ART' and ltrim(rtrim(@Fronting_val)) <> ''
            BEGIN
                --SELECT @CoTVAR1000 = SUM(AGGLoss)/10 FROM #LayerYLT where year in (SELECT year FROM #PortYLT_byFronting where AggRank <= 10 and Fronting = @Fronting_val)
                SELECT @CoTVAR1000 = SUM(a.AggLoss) * 1000/@NumberOfPeriods
                FROM #LayerYLT a
                inner join #PortYLT_byFronting b
                on a.Year = b.Year and b.Fronting = @Fronting_val
                where b.AggRank <= @NumberOfPeriods / 1000
                and b.Fronting = @Fronting_val
            END
            ELSE
            BEGIN
                SELECT @CoTVAR1000 = SUM(AGGLoss) * 1000/@NumberOfPeriods FROM #LayerYLT where year in (SELECT year FROM #PortYLT where AggRank <= @NumberOfPeriods / 1000)
            END
			
			

            SELECT @NonModeledAAL = ISNULL(SUM(Loss)/@NumberOfPeriods,0) FROM #tmpLayerYELT where len(EventID) = 10 and floor(EventID/1e7) between 101 and 107
            SET @NonModeledAAL = ISNULL(@NonModeledAAL, 0)
            SET @StandardDeviation = ISNULL(@StandardDeviation, 0)
            SET @AEP5 = ISNULL(@AEP5, 0)
			SET @AEP10= ISNULL(@AEP10, 0)
			SET @AEP20 = ISNULL(@AEP20, 0)
			SET @AEP25 = ISNULL(@AEP25, 0)
			SET @AEP50 = ISNULL(@AEP50, 0)
			SET @AEP75 = ISNULL(@AEP75, 0)
			SET @AEP100 = ISNULL(@AEP100, 0)
            SET @AEP500 = ISNULL(@AEP500, 0)
            SET @CoTVAR100 = ISNULL(@CoTVAR100, 0)
            SET @CoTVAR1000 = ISNULL(@CoTVAR1000, 0)
            SET @Expenses = ISNULL(@Expenses, 0)
			SET @BreakevenProb = ISNULL(@BreakevenProb,0)
            /**** Calculate Layer expenses
            ****/
            -- get expenses
            IF @Vendor = 'RMS'
            BEGIN
                SELECT @ProfitCommissionPerc = ISNULL(ProfitCommission, 0),
                @OtherExpenses = ISNULL(a.AcquisitionCost, 0) + ISNULL(a.FET, 0) + ISNULL(a.FrontingFee, 0) 
                --+ ISNULL(a.ManagementFees, 0) 
                + ISNULL(a.Origination, 0) 
                --+ ISNULL(a.Reinstatement, 0) 
                + ISNULL(a.Setup, 0) + ISNULL(a.UWOverride, 0),
                @HurdlePerc = ISNULL(Hurdle, 0)
                FROM ILSData a wHERE ILSInstrumentID = @ILSInstrumentID
            END
            ELSE
            BEGIN
			/*AB - Hardcoding these values to 0 
                SELECT @ProfitCommissionPerc = ISNULL(ProfitCommission, 0),
                @OtherExpenses = ISNULL(a.AcquisitionCost, 0) + ISNULL(a.FET, 0) + ISNULL(a.FrontingFee, 0) + ISNULL(a.ManagementFees, 0) + ISNULL(a.Origination, 0) + ISNULL(a.Reinstatement, 0) + ISNULL(a.Setup, 0) + ISNULL(a.UWOverride, 0),
                @HurdlePerc = ISNULL(Hurdle, 0)
                FROM AnalyzeReMetadata a wHERE OptimizationLayerID = @OptimizationLayerID
				*/
				SET @ProfitCommissionPerc = 0
				SET @OtherExpenses = 0
				SET @HurdlePerc = 0

            END

	        IF @HurdleType = 'Hard'
	        BEGIN
	            /*Premium*(1-(totalExpenses+hurdle))*/
	            SET @profitwoCommission = @Premium*(1-(@OtherExpenses +@HurdlePerc))
	        END
	        ELSE
	        BEGIN
	            SET @profitwoCommission = @Premium*(1-@OtherExpenses)
	        END
	        -- @ProfitCommission - AAL of profit commission
            SELECT @ProfitCommission = SUM(CASE WHEN AggLoss < @ProfitWOCommission THEN @ProfitCommissionPerc * ( @ProfitWOCommission - AggLoss) ELSE 0 END)/@NumberOfPeriods FROM #LayerYLT
            SET @ProfitCommission = @ProfitCommission + (@NumberOfPeriods - @CountYLTYears) * @ProfitCommissionPerc * @ProfitWOCommission/@NumberOfPeriods -- For the years where we don't see any loss, add the profit commission
            IF @DEBUG = 0 SELECT @ILSName ILSName,@OptimizationLayerID LayerID, @ProfitCommissionPerc ProfitCommissionPerc, @OtherExpenses OtherExpenses, @HurdlePerc HurdlePerc, @ProfitCommission ProfitCommission , @ProfitWOCommission ProfitWOCommission, @Premium Premium, @StandardDeviation StandardDeviation, @Fronting_val Fronting, @CountYLTYears YearCount, @LayerAAL AAL
        END
        /******Generate Historical Event Losses
        ******/
        IF @Vendor <>  'RMS'
        BEGIN
            SET @Query = 'INSERT INTO ' + @tblHistorical
            + ' (EventID, EventName, EventYear, EventType,IndustryLoss, OptimizationLayerID, ILSName, LayerLoss, DealID)'
            + ' SELECT b.EventID, b.Name as EventName, b.YearID as EventYear, b.Modelcode as EventType,b.Totalloss as IndustryLoss, ''' + @OptimizationLayerID + ''',''' + @ILSName + ''', isnull(a.Loss * ' + CAST(@COMPANYShare AS NVARCHAR(25)) + ', 0), '+  CAST(@DealID AS NVARCHAR(25)) 
            + ' FROM ' + @tblAnalysis + ' a'
            + ' right JOIN  [ARAPL_IndustryLoss].[dbo].[SummaryIndustryLoss_Hist_Final] b ON a.EventID = b.EventID'
           -- + ' WHERE b.SoftwareVersion = ''10.0'''
            IF @DEBUG = 0 PRINT @QUery
            EXEC sp_executeSQL @Query
            SET @Query = 'UPDATE ' + @tblHistorical
            + ' SET LayerLoss = b.AdditionalAdjustment '
            + ' FROM ' + @tblHistorical + ' a'
            + ' INNER JOIN [PortfolioHistoricalAdjustment] b ON a.ILSName = b.ILSName and a.EventID = b.EventID'-- AND b.ReportID =' + cAsT(@ReportID AS NVARCHAR(20))
        
            IF @DEBUG = 0 PRINT @Query
            EXEC sp_executeSQL @Query
        END
       
	   
	   /******Generate Region/Peril wise breakups
        ******/
		 /*
        TRUNCATE TABLE #RegionYELT
        TRUNCATE TABLE #RegionYLT
        SET @RegionID = 1
        SELECT @RegionMaxID = MAX(a.BoundPerilRegionID) FROM PerilRegion_Bound a
        WHILE @RegionID <= @RegionMaxID
        BEGIN
            SELECT @RegionCode = a.RegionCode, @CountryCode = a.CountryCode, @SubRegionCode = a.SubRegionCode, @PerilCode = PerilCode, @Invert = a.Invert, @InvertedIDs = InvertedID, @RegionPerilDescription = a.Description
            FROM PerilRegion_Bound a WHERE BoundPerilRegionID = @RegionID
            TRUNCATE TABLE #RegionYELT
            TRUNCATE TABLE #RegionYLT
            TRUNCATE TABLE #SubRegions
            INSERT INTO #SubRegions(SubregionCode)
            SELECT ltrim(rtrim(VALUE)) FROM string_split(@SubRegionCode, ';') where ltrim(rtrim(value)) <> ''
            IF @DEBUG = 1 print @regionperildescription
            -- TODO: add all other regions/perils conditions
            SET @Query = 'INSERT INTO #RegionYELT(eventID, Year, Loss)'
            + ' SELECT a.EventID, a.Year, a.Loss'
            + ' FROM #tmpLayerYELT a'
            + ' INNER JOIN ARAPL_Cipher.dbo.EventPerilRegionMap b'
            + ' on a.EventID = b.AIREventID'
            + CASE WHEN EXISTS(SELECT * FROM #SubRegions where ltrim(rtrim(SubregionCode)) <> '') THEN ' INNER JOIN #SubRegions sb on b.SubRegion = sb.SubregionCode' ELSE '' END
            --+ ' WHERE a.Fronting = ''' + @Fronting_val + ''' and'
            + CASE WHEN @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN ' WHERE '
            + CASE WHEN @PerilCode <> '' THEN ' b.Peril = ' + CAST(@PerilCode aS NVARCHAR(255)) + ' and' ELSE '' END
            + CASE WHEN @RegionCode <> '' THEN ' b.Region = ' + CAST(@RegionCode AS NVARCHAR(25)) +' and' ELSE '' END
            + CASE WHEN @CountryCode <> '' THEN ' b.Country = ' + CAST(@CountryCode AS NVARCHAR(255)) + ' and' ELSE '' END
               ELSE '' END
             SET @Query = CASE WHEN  @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN SUBSTRING(@Query, 1, len(@Query) - 4) ELSE @Query END
            
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query

            --IF NOT EXISTS ( SELECT * FROM #RegionYELT)
            --BEGIN
            --    SET @RegionID = @RegionID + 1
            --    CONTINUE
            --END

            INSERT INTO #RegionYLT(Year, AggLoss, AggRank, OccLoss, OccRank)
            SELECT Year,
            sum(Loss), ROW_NUMBER() OVER(Order by sum(Loss) desc),
            MAX(Loss), ROW_NUMBER() OVER(Order by MAX(Loss) desc)
            FROM #RegionYELT
            group by Year
            
            SET @Query = 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description, DealID)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''',''' + @OptimizationLayerID + ''',''' + @ILSName + ''', ''ExpectedLoss'', 1, ISNULL(SUM(Loss)/@NumberOfPeriods, 0), ''' + @RegionPerilDescription + ''',' + CAST(@DealID AS NVARCHAR(255)) + ' FROM #RegionYELT ;'
            + ' INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description, DealID)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''',''' + @OptimizationLayerID + ''',''' + @ILSName + ''', ''Standard Deviation'', 1, ISNULL(STdev(AggLoss)/@NumberOfPeriods, 0),  ''' + @RegionPerilDescription + ''',' + CAST(@DealID AS NVARCHAR(255)) + ' FROM #RegionYLT ;'
             + 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description, DealID)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''',''' + @OptimizationLayerID + ''',''' + @ILSName + ''', ''AEP'', 10000.0/AggRank, ISNULL(AggLoss, 0) , ''' + @RegionPerilDescription + ''',' + CAST(@DealID AS NVARCHAR(255)) + ' FROM #RegionYLT WHERE AggRank in (1, 10, 20, 100, 200, 1000);'
            + 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description, DealID)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''',''' + @OptimizationLayerID + ''',''' + @ILSName + ''', ''OEP'', 10000.0/OccRank, ISNULL(OccLoss, 0),  ''' + @RegionPerilDescription + ''',' + CAST(@DealID AS NVARCHAR(255)) + ' FROM #RegionYLT WHERE OccRank in (1, 10, 20, 100, 200, 1000);'
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query
            --break
            SET @RegionID = @RegionID + 1
        END
        */
		
			--break
			--TODO
	
        /******Generate AAL By Month
        ******/
		If @LayerAAL <> 0 and @LayerAAL is not null
		BEGIN
			SET @Query = 'INSERT INTO ' + @tblAALByMonth + '(DetailsID, OptimizationLayerID, ILSName, Month, AAL)'
			+ ' SELECT ' + CAST(@DealID AS NVARCHAR(25))+ ',''' + @OptimizationLayerID + ''', ''' + @ILSName + ''', Month(a.Day-1), SUM(Loss)/' + casT(@NumberOfPeriods as NVARCHAR(25)) + '/' + CAST(@LayerAAL AS NVARCHAR(25))
			+ ' FROM #tmpLayerYELT a'
			+ ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final c ON a.EventID = c.EventID'
			+ ' GROUP BY Month(a.Day-1)'
			EXEC sp_executeSQL @Query
		END
		
        /****Update BoundPortfolioDetails
        ****/    
        SET @Query = 'update ' + @tblBoundPortfolioDetails
        + ' SET TTM = DATEDIFF(DD, @BoundDate, @ExpirationDate),'
        + ' Premium100  = PrincipalAmount * BondCoupon,'  --Occurence lmit replace by PrincipalAMount
        + ' COMPANYOccurenceLimit = COMPANYShare * PrincipalAmount,'  --Occurence lmit replace by PrincipalAMount
        + ' COMPANYAggregateLimit = COMPANYShare * PrincipalAmount,'  --Occurence lmit replace by PrincipalAMount
        + ' Premium = @Premium,'--* CASE WHEN SecurityInstrument = ''CAT Bond'' THEN CASE WHEN DATEDIFF(DD, @BoundDate, @ExpirationDate) > 365 THEN 1 ELSE DATEDIFF(DD, @BoundDate, @ExpirationDate) / 365.0 END ELSE 1 END, '/*-CASE WHEN BondPrice = 0 or BondPrice is null THEN 0 ELSE CASE WHEN BondTransactionType = ''Sell'' THEN (-(COMPANYShare*AggregateLimit*100)/BondPrice)*((BondSellPrice-BondPrice)/100+(DATEDIFF(DD,@BoundDate,@BondSellDate)*BondCoupon)/365) ELSE 0 END END*/
        + ' Expenses = CASE WHEN @Hedges = ''Y'' THEN -1 ELSE 1 END * InitialFees * @Premium * CASE WHEN SecurityInstrument = ''CAT Bond'' THEN CASE WHEN DATEDIFF(DD, @BoundDate, @ExpirationDate) > 365 THEN 1 ELSE DATEDIFF(DD, @BoundDate, @ExpirationDate) / 365.0 END ELSE 1 END + @ProfitCommission + @OtherExpenses * @Premium * CASE WHEN SecurityInstrument = ''CAT Bond'' THEN CASE WHEN DATEDIFF(DD, @BoundDate, @ExpirationDate) > 365 THEN 1 ELSE DATEDIFF(DD, @BoundDate, @ExpirationDate) / 365.0 END ELSE 1 END,' -- Add other layer expenses
        + ' Tranche = CASE WHEN ROL < 0.05 THEN ''Senior'' WHEN (ROL >= 0.05 and ROL < 0.1) THEN ''Mezz'' WHEN ROL >= 0.1 THEN ''Equity'' END, '
		+ ' FrontingFee = CASE Fronted WHEN ''Y'' THEN CASE WHEN 0.04 * @Premium < 0.0045 * COMPANYShare * OccurenceLimit THEN 0.04 * @Premium ELSE 0.0045 * COMPANYShare * OccurenceLimit END ELSE 0 END,'
		+ ' AEP5 = @AEP5,'
		+ ' AEP10 = @AEP10,'
		+ ' AEP20 = @AEP20,'
		+ ' AEP25 = @AEP25,'
		+ ' AEP50 = @AEP50,'
		+ ' AEP75 = @AEP75,'
        + ' AEP100 = @AEP100,'
        + ' AEP500 = @AEP500,'
        + ' CoTVAR100 = @CoTVAR100,'
        + ' CoTVAR1000 = @CoTVAR1000,'
		+ ' BreakevenProbability = @BreakevenProb,'
        + ' NonModeledAndCOMPANYView = @NonModeledAAL,'
        + ' ExpectedLoss = @LayerAAL,'
		+ ' MaxContLiab = CASE WHEN COMPANYShare * PrincipalAmount > 0 and @LayerAAL/(COMPANYShare * PrincipalAmount) < 0.05 THEN (COMPANYShare * PrincipalAmount) 
												   WHEN COMPANYShare * PrincipalAmount > 0 and @LayerAAL/(COMPANYShare * PrincipalAmount) > 0.05 THEN (COMPANYShare * PrincipalAmount)
												   WHEN COMPANYShare * PrincipalAmount <= 0 THEN 0 END,'
		+ ' [PledgedPrct] = CASE WHEN Quantity = 0 OR Quantity IS NULL THEN 0 ELSE -QuantityPledged/Quantity END,'
		/*[RealisedGain] = CASE WHEN BondPrice = 0 or BondPrice is null THEN 0 ELSE CASE WHEN BondTransactionType = ''Sell'' THEN (-(COMPANYShare*AggregateLimit*100)/BondPrice)*((BondSellPrice-BondPrice)/100+(DATEDIFF(DD,@BoundDate,@BondSellDate)*BondCoupon)/365) ELSE 0 END END,*/
        + ' StandardDeviation = CASE WHEN COMPANYSHARE < 0 THEN -1*@StandardDeviation ELSE @StandardDeviation END ,'
        + ' InvestedAUM = CASE WHEN @Hedges = ''Y'' THEN @CoTVAR1000 ELSE CASE WHEN ltrim(rtrim(Fronted)) = ''Y'' then @CoTVAR1000 - @Premium + InitialFees * @Premium + @ProfitCommission + @OtherExpenses * @Premium + CASE Fronted WHEN ''Y'' THEN CASE WHEN 0.04 * @Premium < 0.0045 * COMPANYShare * PrincipalAmount*BondPrice THEN 0.04 * @Premium ELSE 0.0045 * COMPANYShare * PrincipalAmount*BondPrice END ELSE 0 END ELSE  (COMPANYShare * PrincipalAmount*BondPrice)/100 END END' --occurrencelimit converted into PrincipalAmount
        + ' FROM ' + @tblBoundPortfolioDetails + ' a  where  a.ID = @DealID'
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query, N'@BoundDate DATE, @BondSellDate DATE, @ExpirationDate DATE, @AEP5 FLOAT,@AEP10 FLOAT,@AEP20 FLOAT,@AEP25 FLOAT,@AEP50 FLOAT,@AEP75 FLOAT,@AEP100 FLOAT, @AEP500 FLOAT, @CoTVAR100 FLOAT, @CoTVAR1000 FLOAT, @BreakevenProb FLOAT, @NonModeledAAL FLOAT, @LayerAAL FLOAT, @StandardDeviation FLOAT, @Fronting_val NVARCHAR(255), @Fronted NVARCHAR(10), @Expenses FLOAT, @DealID INT, @InvestedAUM FLOAT, @ProfitCommission FLOAT, @Premium FLOAT, @Hedges NVARCHAR(255), @OtherExpenses FLOAT', @BoundDate=@BoundDate, @BondSellDate = @BondSellDate, @ExpirationDate=@ExpirationDate, @AEP5=@AEP5,@AEP10=@AEP10,@AEP20=@AEP20,@AEP25=@AEP25,@AEP50=@AEP50,@AEP75=@AEP75,@AEP100=@AEP100, @AEP500=@AEP500, @CoTVAR100=@CoTVAR100, @CoTVAR1000=@CoTVAR1000, @BreakevenProb = @BreakevenProb, @NonModeledAAL=@NonModeledAAL, @LayerAAL=@LayerAAL, @StandardDeviation=@StandardDeviation, @Fronting_val=@Fronting_val, @Fronted = @Fronted, @Expenses=@Expenses, @DealID=@DealID, @InvestedAUM=@InvestedAUM, @ProfitCommission=@ProfitCommission, @Premium=@Premium, @Hedges=@Hedges, @OtherExpenses=@OtherExpenses
        --SELECT * FROM PortfolioReportDetails where ID = @DetailsID
        SET @DealID = @DealID + 1
        
    END
    --******/


    /*****Leverage Calculations
    *****/
		SET @FrontingID = 1
		WHILE @FrontingID <= @FrontingMAXID
		BEGIN
			SELECT @Fronting_val = Fronting FROM #Fronting where ID = @FrontingID
        /* AB - commented this code for now and hardcoded the values to 0
			SELECT @TVAR_1000 = AggTVAR FROM #PortYLT_byFronting WHERE AggRank = @NumberOfPeriods / 1000 and Fronting = @Fronting_val
			SELECT @OEP_1667 = OccLoss FROM #PortYLT_byFronting WHERE OccRank = FLOOR(@NumberOfPeriods / 1666.666) and Fronting = @Fronting_val
			--select @TVAR_1000 as TVAR_1000, @OEP_1667 as OEP_1667
			SELECT @AEPquake_500 = AggLoss FROM #PortYLT_QuakeOnly WHERE AggRank = @NumberOfPeriods / 500
			SET @MinEventCollateral = CASE WHEN @TVAR_1000 > @OEP_1667 THEN @TVAR_1000 ELSE @OEP_1667 END
			SET @Query = 'SELECT @MaxContractLiability = SUM(MaxContLiab),'
			+ ' @LeverageFrontingFee = SUM(FrontingFee),'
			+ ' @GrossPremium = SUM(Premium) ,'
			+ ' @LeverageExpenses = SUM(Expenses)'
			+ ' FROM ' +  @tblBoundPortfolioDetails + ' WHERE Fronting = @Fronting_val'
			IF @DEBUG = 1 PRINT @Query
			EXEC sp_executeSQL @Query, N'@MaxContractLiability FLOAT OUTPUT, @LeverageFrontingFee FLOAT OUTPUT, @GrossPremium FLOAT OUTPUT, @LeverageExpenses FLOAT OUTPUT, @Fronting_val NVARCHAR(255)', @MaxContractLiability=@MaxContractLiability OUTPUT, @LEverageFrontingFee=@LeverageFrontingFee OUTPUT, @GrossPremium=@GrossPremium OUTPUT, @LeverageExpenses=@LeverageExpenses OUTPUT, @Fronting_val=@Fronting_val 
			SELECT @LeverageAmount = @MaxContractLiability - @MinEventCollateral
			SELECT @LeverageFee = 0.008 * @LeverageAmount
			SET @InvestedCollateral = @MinEventCollateral - @GrossPremium + @LeverageExpenses + @LeverageFee + @LeverageFrontingFee
			*/

			SET	@TVAR_1000 =0 
			SET @OEP_1667 =0
			SET @AEPquake_500 = 0
			SET @MinEventCollateral = 0
			SET @MaxContractLiability = 0
			SET @LeverageFrontingFee = 0 
			SET @GrossPremium = 0
			SET @LeverageExpenses = 0
			SET @LeverageAmount = 0
			SET @LeverageFee = 0
			SET @InvestedCollateral = 0

			SET @Query = 'INSERT INTO ' + @tblLeverageCalculation + '(Fronting, Metric, Value)'
			+ ' VALUES(@Fronting_val, ''1000 yr TVAR'', @TVAR_1000),'
			+ ' (@Fronting_val, ''1667 yr OEP'', @OEP_1667),'
			+ ' (@Fronting_val, ''500 yr AEP quake'', @AEPquake_500),'
			+ ' (@Fronting_val, ''Min Event Collateral'', @MinEventCollateral),'
			+ ' (@Fronting_val, ''Max Contract Liability'', @MaxContractLiability),'
			+ ' (@Fronting_val, ''Leverage Amount'', @LeverageAmount),'
			+ ' (@Fronting_val, ''Leverage Fee'', @LeverageFee),'
			+ ' (@Fronting_val, ''Fronting Fee'', @LeverageFrontingFee),'
			+ ' (@Fronting_val, ''Gross Premium'', @GrossPremium),'
			+ ' (@Fronting_val, ''Expenses'', @LeverageExpenses),'
			+ ' (@Fronting_val, ''Invested Collateral'', @InvestedCollateral)'
			EXEC sp_executeSQL @Query, N'@fronting_val NVARCHAR(255),@TVAR_1000 FLOAT, @OEP_1667 FLOAT, @AEPquake_500 FLOAT,@MinEventCollateral FLOAT, @MaxContractLiability  FLOAT, @LeverageAmount FLOAT, @LeverageFee FLOAT, @LeverageFrontingFee FLOAT, @GrossPremium FLOAT, @LeverageExpenses FLOAT, @InvestedCollateral FLOAT', @Fronting_val=@Fronting_val,@MinEventCollateral=@MinEventCollateral, @MaxContractLiability=@MaxContractLiability, @TVAR_1000=@TVAR_1000, @OEP_1667=@OEP_1667, @AEPquake_500 = @AEPquake_500, @LeverageAmount=@LeverageAmount, @LeverageExpenses=@LeverageExpenses,@LeverageFee=@LeverageFee, @LeverageFrontingFee=@LeverageFrontingFee, @InvestedCollateral=@InvestedCollateral,@GrossPremium=@GrossPremium

			SET @FrontingID = @FrontingID + 1
		END
		
    /******Generate Portfolio Level metrics
    ******/
    SELECT @TotalAUM = NotionalAUM, @InvestedAUM = DeployedAUM FROM PortfolioReport WHERE ReportID = @ReportID   ---SR: Changed the condition ID = @ReportID
    
    SET @Query = 'SELECT '
    + ' @PortPremium = SUM(ISNULL(Premium, 0)),'
    + ' @AcquisitionExpense = SUM(ISNULL(Expenses, 0)),'
    + ' @FrontingFee = SUM(ISNULL(FrontingFee, 0)),'
    + ' @PortNonModeledAAL = SUM(ISNULL(NonModeledAndCOMPANYView,0)),'
    + ' @PortfolioAAL = SUM(ISNULL(ExpectedLoss, 0))'
    + ' FROM ' + @tblBoundPortfolioDetails
    IF @DEBUG = 0 PRINT @Query
    EXEC sp_executeSQL @Query, N'@PortPremium  FLOAT OUTPUT, @AcquisitionExpense  FLOAT OUTPUT, @FrontingFee FLOAT OUTPUT, @PortNonModeledAAL FLOAT OUTPUT, @PortfolioAAL FLOAT OUTPUT', @PortPremium=@PortPremium output, @AcquisitionExpense=@AcquisitionExpense output, @FrontingFee=@FrontingFee output, @PortNonModeledAAL=@PortNonModeledAAL output, @PortfolioAAL=@PortfolioAAL output

	-- TODO: add fronting condition below
    /*SET @Query = 'SELECT @LeverageExpenses=SUM(VALUE) FROM ' + @tblLeverageCalculation + ' WHERE Metric = ''Leverage Fee'' and ltrim(rtrim(Fronting)) <> ''''' */
	 SET @Query = 'SELECT @LeverageExpenses=ISNULL(SUM(VALUE),0) FROM ' + @tblLeverageCalculation + ' WHERE Metric = ''Leverage Fee'' and ltrim(rtrim(Fronting)) <> '''' and ltrim(rtrim(Fronting)) <> ''Nre Cell''' 
    EXEC sp_executeSQL @Query, N'@LeverageExpenses FLOAT OUTPUT', @LeverageExpenses=@LeverageExpenses OUTPUT


    SET @Query = 'SELECT @NotionalShortAggLimit = SUM(COMPANYAggregateLimit),'
    + ' @NotionalShortOccLimit = SUM(COMPANYOccurenceLimit)'
    + ' FROM ' + @tblBoundPortfolioDetails
    + ' WHERE COMPANYShare <> 0'
    EXEC sp_executeSQL @Query, N'@NotionalShortAggLimit FLOAT OUTPUT, @NotionalShortOccLimit FLOAT OUTPUT', @NotionalShortAggLimit=@NotionalShortAggLimit output, @NotionalShortOccLimit=@NotionalShortOccLimit output
   
   
	SET @ManagementFee = @PnLManagementFees * @TotalAUM
    SET @FET = @PortPremium * @PnLFET
    --SET @InvestmentIncome = @PnLInvestmentIncome * (@TotalAUM + (@PortPremium - @LeverageExpenses - @AcquisitionExpense - @FET - @FrontingFee) / 2) 
	SET @InvestmentIncome = @PnLInvestmentIncome  ---SR - InevsetedIncome coming from Treasury calcualtion
    SET @Carry = @PnLCarry * (CASE WHEN (@PortPremium - @LeverageExpenses - @AcquisitionExpense - @FET - @FrontingFee) > @PnLHurdle * @TotalAUM THEN (@PortPremium - @LeverageExpenses - @AcquisitionExpense - @FET - @FrontingFee) ELSE 0 END)
    SET @OpOrgExpense = @PnLOpOrgExpense * @TotalAUM
    /*SELECT @PortStdDev = STDEVP(AggLoss) FROM #PortYLT*/  --commenting to this to crroect error in stddev. and replace it with below

	
SELECT @PortStdDev = STDEVP(a.AggLoss)
FROM (
    SELECT AggLoss, Year 
    FROM #PortYLT

    UNION ALL

    SELECT 0 AS AggLoss, Year
    FROM arapl_works.dbo.Table_10000Years
    WHERE Year NOT IN (
        SELECT DISTINCT Year FROM #PortYLT
    )
) AS a;
    
    SELECT @TVAR50 = AggTvar, @AEP50 = AggLoss FROM #PortYLT WHERE AggRank = @numberOfPeriods / 50
    SET @AEP500 = 0
	SELECT @AEP500 = AggLoss FROM #PortYLT WHERE AggRank = @numberOfPeriods / 500

    SET @NSD = case when @PortStdDev = 0 then 0 else (@AEP500 - @PortfolioAAL) / @PortStdDev end
    SET @CSD = @NSD * (0.20 - 0.005) / (1+ 0.2)

    SET @Query = 'INSERT INTO ' + @tblSummary + '(MetricName, Value)'
    + ' VALUES(''InvestedAUM'', ''' + CAST(@InvestedAUM AS NVARCHAR(255)) + '''),'
    + ' (''TotalPremium'', ''' + CAST(@PortPremium AS NVARCHAR(255)) + '''),'
    + ' (''FederalExciseTax'', ''' + CAST(@PortPremium *@PnLFET AS NVARCHAR(255)) + '''),'  
    + ' (''AcqExpenses'', ''' + CAST(@AcquisitionExpense AS NVARCHAR(255)) + '''),'
    + ' (''FrontingFee'', ''' + CAST(@FrontingFee AS NVARCHAR(255)) + '''),'
    + ' (''PortNonModeledAAL'', ''' + CAST(@PortNonModeledAAL AS NVARCHAR(255)) + '''),'
    + ' (''PortfolioAAL'' , ''' + CAST(@PortfolioAAL AS NVARCHAR(255)) + '''),'
    + ' (''ReportID'', ''' + CAST(@ReportID AS NVARCHAR(255)) + '''),'
    + ' (''NotionalShortAggLimit'', ''' + CAST(@NotionalShortAggLimit AS NVARCHAR(255)) + '''),'
    + ' (''NotionalShortOccLimit'', ''' + CAST(@NotionalShortOccLimit AS NVARCHAR(255)) + '''),'
    + ' (''LeverageExpense'', ''' + CAST(@LeverageExpenses AS NVARCHAR(255)) + '''),'
    + ' (''InvestmentIncome'', ''' + CAST(@InvestmentIncome AS NVARCHAR(255)) + '''),'
	+ ' (''PnLInvestmentIncome'', ''' + CAST(@PnLInvestmentIncome AS NVARCHAR(255)) + '''),'
    + ' (''OpOrgExpenses'', ''' + CAST(@OpOrgExpense AS NVARCHAR(255)) + '''),'
    + ' (''ManagementFee'', ''' + CAST(@ManagementFee AS NVARCHAR(255)) + '''),'
    + ' (''Carry'', ''' + CAST(@Carry AS NVARCHAR(255)) + '''),'
    + ' (''Leverage'', ''' + CAST(@NotionalShortAggLimit/@TotalAUM AS NVARCHAR(255)) + '''),'
    + ' (''ROL'', ''' + CAST(@PortPremium/@NotionalShortOccLimit AS NVARCHAR(255)) + '''),'
    + ' (''TotalAUM'', ''' + CAST(@TotalAUM AS NVARCHAR(255)) + '''),'
    + ' (''StandardDeviation'', ''' + CAST(@PortStdDev AS NVARCHAR(255)) + '''),'
    + ' (''AsOfDate'', ''' + CAST(@AsOfDate AS NVARCHAR(255)) + '''),'
	+ ' (''QSAttritionalLRUSWind'',''' + CAST(@QSAttritionalLRUSWind AS NVARCHAR(255)) + '''),'
	+ ' (''QSAttritionalLRWorldwide'',''' + CAST(@QSAttritionalLRWorldwide AS NVARCHAR(255)) + '''),'
	+ ' (''RiskFreeRate'',''' + CAST(@RiskFreeRate AS NVARCHAR(255)) + '''),'
	+ ' (''ProFormaRateChange'',''' + CAST(@ProFormaRateChange AS NVARCHAR(255)) + ''')'
	
    IF @DEBUG = 0 PRINT @Query
    EXEC sp_executeSQL @Query, N'@InvestedAUM FLOAT, @PortPremium  FLOAT, @AcquisitionExpense  FLOAT, @FrontingFee FLOAT, @PortNonModeledAAL FLOAT, @PortfolioAAL FLOAT, @ReportID INT, @NotionalShortAggLimit FLOAT, @NotionalShortOccLimit FLOAT, @PnLFET FLOAT, @InvestmentIncome FLOAT, @OpOrgExpense FLOAT, @LeverageExpenses FLOAT, @ManagementFee FLOAT, @Carry FLOAT, @TotalAUM FLOAT, @PortStdDev FLOAT, @AsOfDate DATE, @QSAttritionalLRUSWind FLOAT, @QSAttritionalLRWorldwide FLOAT, @RiskFreeRate FLOAT, @ProFormaRateChange FLOAT', @InvestedAUM=@InvestedAUM, @PortPremium=@PortPremium, @AcquisitionExpense=@AcquisitionExpense, @FrontingFee=@FrontingFee, @PortNonModeledAAL=@PortNonModeledAAL, @PortfolioAAL=@PortfolioAAL, @ReportID=@ReportID, @NotionalShortAggLimit=@NotionalShortAggLimit, @NotionalShortOccLimit=@NotionalShortOccLimit, @PnLFET=@PnLFET,@InvestmentIncome =@InvestmentIncome, @OpOrgExpense=@OpOrgExpense, @LeverageExpenses=@LeverageExpenses, @ManagementFee=@ManagementFee, @Carry=@Carry, @TotalAUM=@TotalAUM, @PortStdDev=@PortStdDev, @AsOfDate=@AsOfDate, @QSAttritionalLRUSWind=@QSAttritionalLRUSWind, @QSAttritionalLRWorldwide=@QSAttritionalLRWorldwide, @RiskFreeRate=@RiskFreeRate,@ProFormaRateChange=@ProFormaRateChange

	--IF @DEBUG = 1 PRINT @Query
	--EXEC sp_executeSQL @Query 

	--------------------------------------------


	SET @Query = 'INSERT INTO ' + @BoundportfolioSummary + ' (Reportid, MetricName, Value) VALUES' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''InvestedAUM'', ''' + CAST(@InvestedAUM AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''PortfolioId'', ''' + CAST(@PortfolioID AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''TotalPremium'', ''' + CAST(@PortPremium AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''FederalExciseTax'', ''' + CAST(@PortPremium * @PnLFET AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''AcqExpenses'', ''' + CAST(@AcquisitionExpense AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''FrontingFee'', ''' + CAST(@FrontingFee AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''PortNonModeledAAL'', ''' + CAST(@PortNonModeledAAL AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''PortfolioAAL'', ''' + CAST(@PortfolioAAL AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''NotionalShortAggLimit'', ''' + CAST(@NotionalShortAggLimit AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''NotionalShortOccLimit'', ''' + CAST(@NotionalShortOccLimit AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''LeverageExpense'', ''' + CAST(@LeverageExpenses AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''InvestmentIncome'', ''' + CAST(@InvestmentIncome AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''PnLInvestmentIncome'', ''' + CAST(@PnLInvestmentIncome AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''OpOrgExpenses'', ''' + CAST(@OpOrgExpense AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''ManagementFee'', ''' + CAST(@ManagementFee AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''Carry'', ''' + CAST(@Carry AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''Leverage'', ''' + CAST(@NotionalShortAggLimit/@TotalAUM AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''ROL'', ''' + CAST(@PortPremium/@NotionalShortOccLimit AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''TotalAUM'', ''' + CAST(@TotalAUM AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''StandardDeviation'', ''' + CAST(@PortStdDev AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''TVAR50'', ''' + CAST(@TVar50 AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''AEP500'', ''' + CAST(@AEP500 AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''NSD'', ''' + CAST(@NSD AS NVARCHAR(255)) + '''),' +
		' (''' + CAST(@ReportId AS NVARCHAR(50)) + ''', ''CSD'', ''' + CAST(@CSD AS NVARCHAR(255)) + ''')';  
	IF @DEBUG = 0 PRINT @Query
	EXEC sp_executeSQL @Query 


    /******Portfolio Region Peril ******/

	TRUNCATE TABLE #RegionYELT
    TRUNCATE TABLE #RegionYLT
	
	SET @RegionID = 1
    SELECT @RegionMaxID = MAX(a.ID) FROM ARAPL_IndustryLoss.dbo.PerilRegion a
    WHILE @RegionID <= @RegionMaxID
    BEGIN
	  
    
        IF @Vendor = 'RMS' BREAK

		Set @RegionPerilDescription = NULL
		Set @CountryCode = NULL
		Set @PerilCode = NULL
		Set @SubRegionCode = NULL
		Set @RegionCode = NULL
  
          
		SELECT @RegionID=pr.ID, @RegionPerilDescription =Region_Description, @CountryCode = CountryIDList, @PerilCode = PerilID,  @RegionCode = StateCodeList
        FROM ARAPL_IndustryLoss..PerilRegion pr WHERE pr.ID = @RegionID

		DECLARE @Operator nvarchar(50)
		SET @Operator = ' IN '
		IF @RegionPerilDescription like 'all%other%'
			BEGIN
			SET @Operator = ' NOT IN '
 			END
			     
        TRUNCATE TABLE #RegionYELT
		
        SET @Query = 'INSERT INTO #RegionYELT(eventID, Year, Loss)'
        + ' SELECT a.EventID, a.Year, sum(a.Loss)'
        + ' FROM ' + @tblPortYELT + ' a WHERE a.eventid <> 0 '
		+ CASE WHEN @PerilCode IS NOT NULL THEN ' AND a.Peril = ' + CAST(@PerilCode AS NVARCHAR(10)) ELSE '' END
        + CASE WHEN @CountryCode IS NOT NULL THEN ' AND a.Country ' +@operator +'('+ CAST(@CountryCode AS NVARCHAR(max)) + ')' ELSE '' END
        + CASE WHEN @RegionCode IS NOT NULL THEN ' AND a.Region ' +@operator + +'('+CAST(@RegionCode AS NVARCHAR(max)) + ')' ELSE '' END
	    + ' GROUP BY a.EventID,a.Year'

		IF @DEBUG = 0  PRINT @RegionPerilDescription              
          
        IF @DEBUG = 0 PRINT @Query
		EXEC sp_executeSQL @Query

		TRUNCATE TABLE #RegionYLT

        INSERT INTO #RegionYLT(Year, AggLoss, AggRank, OccLoss, OccRank, AggTVAR)
        SELECT Year,
        sum(Loss), ROW_NUMBER() OVER(Order by sum(Loss) desc),
        MAX(Loss), ROW_NUMBER() OVER(Order by MAX(Loss) desc),
        AVG(SUM(Loss)) OVER(Order by SUM(Loss) desc)
		--sum(Loss) over(order by sum(Loss))/ ROW_NUMBER() OVER(Order by sum(Loss) desc)
        FROM #RegionYELT
		WHERE Loss <> 0
        group by Year
        
		Set @RegionAAL = 0
		Set @RegionAEP_100 = 0
		set @RegionTVAR_100 = 0
		Set @RegionCoTVAR_100 = 0
		Set @RegionOtherAAL = @PortfolioAAL 
		Set @RegionAEP_OtherAAL = @PortfolioAAL
		Set @RegionPnL = 0

        SELECT @RegionAAL = SUM(AggLoss)/@NumberOfPeriods FROM #RegionYLT
        SELECT @RegionAEP_100 = AggLoss FROM #RegionYLT where AggRank = 100
		select @RegionTVAR_100 = SUM(AggLoss)/100 FROM #RegionYLT where AggRank <= 100

		--changed following line to use sum(AggLoss)/100 instead of avg(AggLoss)
        SELECT @RegionCoTVAR_100 = sum(AggLoss)/100 FROM #RegionYLT WHERE Year in (SELECT year FROM #PortYLT where AggRank <= 100)
        SET @RegionOtherAAL = @PortfolioAAL - ISNull(@RegionAAL, 0)
        SET @RegionAEP_OtherAAL = ISNULL(@RegionOtherAAL,0) + ISNULL(@RegionAEP_100,0)
        SET @RegionPnL = @PortPremium - @LeverageExpenses - @AcquisitionExpense - @FET - @FrontingFee + @InvestmentIncome - @OpOrgExpense - ISNULL(@RegionAEP_OtherAAL,0)
        --+ ' CREATE TABLE ' + @tblbyRegionPerilPortfolio
        SET @Query = 'INSERT INTO ' + @tblbyRegionPerilPortfolio + '(RegionPerilDescription, AAL, OtherAAL, VAR_100, TVAR_100, CoTVAR_100, AEP_100_OtherAAL, PnL)'
        + ' VALUES(ISNULL(@RegionPerilDescription, 0), ISNULL(@RegionAAL, 0), ISNULL(@RegionOtherAAL, 0), ISNULL(@RegionAEP_100, 0), ISNULL(@RegionTVAR_100, 0), ISNULL(@RegionCoTVAR_100, 0), ISNULL(@RegionAEP_OtherAAL, 0), @RegionPnL)'
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query, N'@RegionPerilDescription NVARCHAR(255), @RegionAAL FLOAT, @RegionOtherAAL FLOAT, @RegionAEP_100 FLOAT, @RegionTVAR_100 FLOAT, @RegionCoTVAR_100 FLOAT, @RegionAEP_OtherAAL FLOAT, @RegionPnL FLOAT', @RegionPerilDescription=@RegionPerilDescription, @RegionAAL=@RegionAAL, @RegionOtherAAL=@RegionOtherAAL, @RegionAEP_100=@RegionAEP_100, @RegionTVAR_100=@RegionTVAR_100, @RegionCoTVAR_100=@RegionCoTVAR_100, @RegionAEP_OtherAAL=@RegionAEP_OtherAAL, @RegionPnL=@RegionPnL
        
        SET @RegionID = @RegionID + 1
    END
    --**/

    /****Region peril by SecurityInstrument
    ****/
    --/***
    SET @SecurityInstrumentID = 1
    WHILE @SecurityInstrumentID <= @SecurityInstrumentMAXID
    BEGIN
        IF @Vendor = 'RMS' BREAK

        SELECT @SecurityInstrument_val = SecurityInstrument FROM #SecurityInstrument WHERE ID = @SecurityInstrumentID
        IF LTRIM(RTRIM(@SecurityInstrument_val)) = ''
        BEGIN
            SET @SecurityInstrumentID = @SecurityInstrumentID + 1
            Continue
        END
        TRUNCATE TABLE #RegionYELT
        TRUNCATE TABLE #RegionYLT
        SET @RegionID = 1
        SELECT @RegionMaxID = MAX(a.BoundPerilRegionID) FROM PerilRegion_Bound a
        WHILE @RegionID <= @RegionMaxID
        BEGIN
            SELECT @RegionCode = a.RegionCode, @CountryCode = a.CountryCode, @SubRegionCode = a.SubRegionCode, @PerilCode = PerilCode, @Invert = a.Invert, @InvertedIDs = InvertedID, @RegionPerilDescription = a.Description
            FROM PerilRegion_Bound a WHERE BoundPerilRegionID = @RegionID
            TRUNCATE TABLE #RegionYELT
            TRUNCATE TABLE #RegionYLT
            TRUNCATE TABLE #SubRegions
            INSERT INTO #SubRegions(SubregionCode)
            SELECT ltrim(rtrim(VALUE)) FROM string_split(@SubRegionCode, ';')where ltrim(rtrim(value)) <> ''
            IF @DEBUG = 0 print @regionperildescription
            -- TODO: add all other regions/perils conditions
            SET @Query = 'INSERT INTO #RegionYELT(eventID, Year, Loss)'
            + ' SELECT a.EventID, a.Year, a.Loss'
            + ' FROM ' + @tblPortDetailsYELT + ' a'
            + ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final b'
            + ' on a.EventID = b.EventID'
            + CASE WHEN EXISTS(SELECT * FROM #SubRegions where ltrim(rtrim(SubregionCode)) <> '') THEN ' INNER JOIN #SubRegions sb on a.SubRegion = sb.SubregionCode' ELSE '' END
            + ' WHERE a.ILSType = ''' + @SecurityInstrument_val + ''' and'
            + CASE WHEN @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN 
            + CASE WHEN @PerilCode <> '' THEN ' a.Peril = ' + CAST(@PerilCode aS NVARCHAR(255)) + ' and' ELSE '' END
            + CASE WHEN @RegionCode <> '' THEN ' a.Region = ' + CAST(@RegionCode AS NVARCHAR(25)) +' and' ELSE '' END
            + CASE WHEN @CountryCode <> '' THEN ' a.Country = ' + CAST(@CountryCode AS NVARCHAR(255)) + ' and' ELSE '' END
               ELSE '' END
             --SET @Query = CASE WHEN  @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN SUBSTRING(@Query, 1, len(@Query) - 4) ELSE @Query END
             SET @Query = SUBSTRING(@Query, 1, len(@Query) - 4)
            
            IF @DEBUG = 0 PRINT @Query
            EXEC sp_executeSQL @Query

            --IF NOT EXISTS (SELECT * FROM #RegionYELT)
            --BEGIN
            --    SET @RegionID = @RegionID + 1
            --    CONTINUE
            --END

            SET @Query = ' INSERT INTO ' + @tblbyRegionPerilILSType + '(RegionPerilDescription, ILStype, AAL)'
            + ' SELECT @RegionPerilDescription, @SecurityInstrument_val, ISNULL(SUM(Loss)/' + cast(@NumberOfPeriods as nvarchar(25)) + ', 0) FROM #RegionYELT'
            --add aal per security instrument
            IF @DEBUG = 0 PRINT @Query
            EXEC sp_executeSQL @Query, N'@RegionPerilDescription NVARCHAR(255), @SecurityInstrument_val NVARCHAR(255)', @RegionPerilDescription=@RegionPerilDescription, @SecurityInstrument_val=@SecurityInstrument_val

            --break
            SET @RegionID = @RegionID + 1
        END
        SET @SecurityInstrumentID = @SecurityInstrumentID + 1
    END
    --**/
    /*******Region/Peril By Deal - By Cell
    *******/
    /**
    SET @FrontingID = 1
    WHILE @FrontingID <= @FrontingMAXID
    BEGIN
        SELECT @Fronting_val = Fronting FROM #Fronting WHERE ID = @FrontingID
        IF LTRIM(RTRIM(@Fronting_val)) = ''
        BEGIN
            SET @FrontingID = @FrontingID + 1
            Continue
        END
        TRUNCATE TABLE #RegionYELT
        TRUNCATE TABLE #RegionYLT
        SET @RegionID = 1
        SELECT @RegionMaxID = MAX(a.BoundPerilRegionID) FROM PerilRegion_Bound a
        WHILE @RegionID <= @RegionMaxID
        BEGIN
            SELECT @RegionCode = a.RegionCode, @CountryCode = a.CountryCode, @SubRegionCode = a.SubRegionCode, @PerilCode = PerilCode, @Invert = a.Invert, @InvertedIDs = InvertedID, @RegionPerilDescription = a.Description
            FROM PerilRegion_Bound a WHERE BoundPerilRegionID = @RegionID
            TRUNCATE TABLE #RegionYELT
            TRUNCATE TABLE #RegionYLT
            TRUNCATE TABLE #SubRegions
            INSERT INTO #SubRegions(SubregionCode)
            SELECT ltrim(rtrim(VALUE)) FROM string_split(@SubRegionCode, ';')where ltrim(rtrim(value)) <> ''
            IF @DEBUG = 1 print @regionperildescription
            -- TODO: add all other regions/perils conditions
            SET @Query = 'INSERT INTO #RegionYELT(eventID, Year, Loss)'
            + ' SELECT a.EventID, a.Year, a.Loss'
            + ' FROM ' + @tblPortDetailsYELT + ' a'
            + ' INNER JOIN ARAPL_Cipher.dbo.EventPerilRegionMap b'
            + ' on a.EventID = b.AIREventID'
            + CASE WHEN EXISTS(SELECT * FROM #SubRegions where ltrim(rtrim(SubregionCode)) <> '') THEN ' INNER JOIN #SubRegions sb on b.SubRegion = sb.SubregionCode' ELSE '' END
            + ' WHERE a.Fronting = ''' + @Fronting_val + ''' and'
            + CASE WHEN @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN 
            + CASE WHEN @PerilCode <> '' THEN ' b.Peril = ' + CAST(@PerilCode aS NVARCHAR(255)) + ' and' ELSE '' END
            + CASE WHEN @RegionCode <> '' THEN ' b.Region = ' + CAST(@RegionCode AS NVARCHAR(25)) +' and' ELSE '' END
            + CASE WHEN @CountryCode <> '' THEN ' b.Country = ' + CAST(@CountryCode AS NVARCHAR(255)) + ' and' ELSE '' END
               ELSE '' END
             --SET @Query = CASE WHEN  @RegionCode <> '' or @CountryCode <>'' or @PerilCode <> '' THEN SUBSTRING(@Query, 1, len(@Query) - 4) ELSE @Query END
             SET @Query = SUBSTRING(@Query, 1, len(@Query) - 4)
            
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query

            --IF NOT EXISTS (SELECT * FROM #RegionYELT)
            --BEGIN
            --    SET @RegionID = @RegionID + 1
            --    CONTINUE
            --END


            INSERT INTO #RegionYLT(Year, AggLoss, AggRank, OccLoss, OccRank)
            SELECT Year,
            sum(Loss), ROW_NUMBER() OVER(Order by sum(Loss) desc),
            MAX(Loss), ROW_NUMBER() OVER(Order by MAX(Loss) desc)
            FROM #RegionYELT
            group by Year
            
            SET @Query = 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''','''',''' + @Fronting_val + ''', ''ExpectedLoss'', 1, ISNULL(SUM(Loss)/@NumberOfPeriods, 0), ''' + @RegionPerilDescription + ''' FROM #RegionYELT ;'
            + ' INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''','''',''' + @Fronting_val + ''', ''Standard Deviation'', 1, ISNULL(STdev(AggLoss)/@NumberOfPeriods,0), ''' + @RegionPerilDescription + ''' FROM #RegionYLT ;'
             + 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''','''',''' + @Fronting_val + ''', ''AEP'', 10000.0/AggRank, ISNULL(AggLoss, 0), ''' + @RegionPerilDescription + ''' FROM #RegionYLT WHERE AggRank in (1, 10, 20, 100, 200, 1000);'
            + 'INSERT INTO ' + @tblbyRegionPerilbyDeal + '(RegionPerilID, Fronting, OptimizationLayerID, ILSName, LossType, ReturnPeriod, Loss, Description)'
            + ' SELECT ' + CAST(@RegionID as NVARCHAR(25)) + ',''' + @Fronting_val + ''','''',''' + @Fronting_val + ''', ''OEP'', 10000.0/OccRank, ISNULL(OccLoss, 0), ''' + @RegionPerilDescription + ''' FROM #RegionYLT WHERE OccRank in (1, 10, 20, 100, 200, 1000);'
            IF @DEBUG = 1 PRINT @Query
            EXEC sp_executeSQL @Query
            --break
            SET @RegionID = @RegionID + 1
        END
        SET @FrontingID = @FrontingID + 1
    END
    **/
    /*****Portfolio Historical Events
    *****/
	--Select * from HistoricalEvents
    IF @Vendor <> 'RMS'
    BEGIN
        SET @Query = 'INSERT INTO ' + @tblHistorical
            + ' (EventID, EventName, EventYear, EventType,IndustryLoss, OptimizationLayerID, ILSName, LayerLoss)'
            + ' SELECT b.EventID, b.Name as Description, b.YearID AS EventYear, b.Modelcode as EventType,b.TotalLoss as IndustryLoss, '''',''Portfolio'', a.Loss'
            + ' FROM ' + @tblPortYELT + ' a'
            + ' INNER JOIN [ARAPL_IndustryLoss].[dbo].[SummaryIndustryLoss_Hist_Final]  b'
            + ' ON a.EventID = b.EventID'
           -- + ' WHERE b.SoftwareVersion = ''10.0'''
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query
        SET @Query = 'INSERT INTO ' + @tblHistorical
            + ' (EventID, EventName, EventYear, EventType,IndustryLoss, OptimizationLayerID, ILSName, LayerLoss)'
            + ' SELECT b.EventID, b.Name as Description, b.YearID AS EventYear, b.Modelcode as EventType,b.TotalLoss as IndustryLoss, '''',Fronting, SUM(a.Loss)'
            + ' FROM ' + @tblPortDetailsYELT + ' a'
            + ' INNER JOIN  [ARAPL_IndustryLoss].[dbo].[SummaryIndustryLoss_Hist_Final] b'
            + ' ON a.EventID = b.EventID'
            + ' WHERE ltrim(rtrim(Fronting)) <> '''''
            --+ ' AND b.SoftwareVersion = ''10.0'''
           + ' GROUP BY b.EventID, b.Name, b.YearID, b.Modelcode, b.TotalLoss, a.Fronting'
		 + ' ORDER BY a.Fronting, b.EventID';
        IF @DEBUG = 0 PRINT @QUery
        EXEC sp_executeSQL @Query
        SET @Query = ' INSERT INTO  ' + @tblHistorical
            + ' (EventID, EventName, EventYear, EventType,IndustryLoss, OptimizationLayerID, ILSName, LayerLoss, DealID)'
            + ' SELECT NULL, CAST(EventYear AS NVARCHAR(255)) + '' Events'', EventYear, NULL,SUM(IndustryLoss), '''', ILSName, SUM(LayerLoss), DealID'
            + ' FROM ' + @tblHistorical
            + ' WHERE EventYear in (2005, 2017, 2018)'
            + ' GROUP BY EventYear, ILSName, DealID'
        IF @DEBUG = 0 PRINT @Query
        EXEC sp_executeSQL @Query
    END
	--Select * from @tblPortYelt
    /****Portfolio AAL By Month
    ****/
    SET @Query = 'INSERT INTO ' + @tblAALByMonth + '(DetailsID, OptimizationLayerID, ILSName, Month, AAL)'
        + ' SELECT 0,'''', ''Portfolio'', Month(a.Day-1), SUM(Loss)/' + cast(@NumberOfPeriods as nvarchar(25)) + '/' + CAST(@PortfolioAAL AS NVARCHAR(25))
        + ' FROM ' + @tblPortYELT + ' a'
		+ ' INNER JOIN ARAPL_IndustryLoss.dbo.SummaryIndustryLoss_Stoch_Final c ON a.EventID = c.EventID'
        + ' GROUP BY Month(a.Day-1)'
        EXEC sp_executeSQL @Query
        IF @DEBUG = 0 SELECT @PortfolioAAL
        --SET @Query = 'SELECT * FROM ' + @tblPortYELT
        --EXEC sp_executeSQL @Query


    /**** Cell (Fronting) level AAL By Month
    ****/
    SET @Query = 'INSERT INTO ' + @tblAALByMonth + '(DetailsID, OptimizationLayerID, ILSName, Month, AAL)'
        + ' SELECT 0,'''', a.Fronting, Month(a.Day-1), case when b.AAL = 0 then 0  else SUM(Loss)/@NumberOfPeriods /b.AAL end'
        + ' FROM ' + @tblPortDetailsYELT + ' a'
		--+ ' INNER JOIN ARAPL_Cipher.dbo.EventPerilRegionMap c ON a.EventID = c.AIREventID'
        + ' INNER JOIN ('
        + ' SELECT Fronting, SUM(Loss)/@NumberOfPeriods as AAL FROM ' + @tblPortDetailsYELT + ' WHERE LTRIM(RTRIM(Fronting)) <> '''' and Fronting is not null GROUP BY Fronting)b'
        + ' ON a.Fronting = b.Fronting'
        + ' GROUP BY Month(a.Day-1), a.Fronting, b.AAL'
        EXEC sp_executeSQL @Query, N'@NumberOfPeriods FLOAT', @NumberOfPeriods=@NumberOfPeriods
        
        --SET @Query = 'SELECT * FROM ' + @tblPortDetailsYELT
        --EXEC sp_executeSQL @Query



    /****Update InvestedAUM and related parameters dependent on the portfolio
    ****/
    SET @DealID = 1
    WHILE @DealID <= @DealMAXID 
    BEGIN
        SET @Query = 'SELECT @SecurityInstrument_val = SecurityInstrument, @Fronting_val = ltrim(rtrim(Fronting)), @ActivityID = ActivityID, @COMPANYShare = COMPANYShare, @ROL = ROL, @InitialFees = InitialFees, @BoundDate = BoundDate, @ExpirationDate = ExpirationDate, @Issuer = Issuer, @OptimizationLayerID = OptimizationLayerID, @ILSName = ILSName, @DetailsID = DetailsID'
        + ' FROM ' + @tblBoundPortfolioDetails + ' where ID = @DealID'
        EXEC sp_executeSQL @Query, N'@SecurityInstrument_val NVARCHAR(255) OUTPUT, @Fronting_val NVARCHAR(255) OUTPUT, @ActivityID INT OUTPUT, @COMPANYShare FLOAT OUTPUT, @BoundDate DATE OUTPUT, @ExpirationDate DATE OUTPUT, @ROL FLOAT OUTPUT, @Issuer NVARCHAR(255) OUTPUT, @OptimizationLayerID NVARCHAR(255) OUTPUT, @ILSName NVARCHAR(255) OUTPUT, @DetailsID INT OUTPUT, @DealID INT, @InitialFees FLOAT OUTPUT', @SecurityInstrument_val=@SecurityInstrument_val OUTPUT, @Fronting_val=@Fronting_val OUTPUT, @ActivityID=@ActivityID OUTPUT, @COMPANYShare=@COMPANYShare OUTPUT, @BoundDate=@BoundDate OUTPUT, @ExpirationDate=@ExpirationDate OUTPUT, @ROL=@ROL OUTPUT, @Issuer=@Issuer OUTPUT, @OptimizationLayerID=@OptimizationLayerID OUTPUT , @ILSName=@ILSName OUTPUT,@DetailsID=@DetailsID OUTPUT, @DealID =@DealID, @InitialFees=@InitialFees OUTPUT

        SELECT @SingleLimit = a.SingleLimit
        FROM guidelines a WHERE PortfolioID=  @PortfolioID and ConstraintName = @SecurityInstrument_val  and ConstraintType = 'Single'


        SET @Query = 'update ' + @tblBoundPortfolioDetails
        + ' SET ActualAUMPercent = CASE SecurityInstrument WHEN ''Retro QS'' THEN InvestedAUM ELSE COMPANYOccurenceLimit END / @TotalAUM,'
        + ' SingleRiskGuideline = @SingleLimit,'
        + ' GuidelineCheck = CASE WHEN ExceptionApproval = ''Y'' OR @SingleLimit > (InvestedAUM / @TotalAUM) THEN ''OK'' ELSE   ''Breached''  END,'--CHANGE
        --+ ' Fronted = CASE WHEN Fronting is not NULL OR ltrim(rtrim(Fronting)) <> '''' THEN ''Y'' ELSE '''' END,'
        + ' CollateralFronted = CASE WHEN ltrim(rtrim(Fronted)) = ''Y'' THEN CoTVAR1000 - Premium + Expenses + FrontingFee ELSE 0 END /*CASE WHEN Fronting is not NULL AND ltrim(rtrim(Fronting)) <> '''' THEN CoTVAR1000 - Premium + Expenses + FrontingFee ELSE 0 END*/,'
        + ' LossRatio = CASE Premium WHEN 0 THEN 0 ELSE ExpectedLoss/Premium END,'
        + ' [Return] = Premium - ExpectedLoss - Expenses - FrontingFee,'
        + ' ReturnonCoTVAR100 = case when CoTVAR100 = 0 THEN 0 eLSE (Premium - ExpectedLoss - Expenses - FrontingFee) / CoTVAR100 END,'
        --+ ' InvestedAUM = CASE WHEN @Hedges = ''Y'' THEN -Premium ELSE CASE WHEN @Fronting_val <> '''' and @Fronting_val is not null then @CoTVAR1000 - Premium + Expenses ELSE  COMPANYOccurenceLimit END END'
        + ' Profit = CASE Premium WHEN 0 THEN 0 ELSE (Premium - ExpectedLoss - Expenses - FrontingFee) / Premium END'
        + ' where  ID = @DealID'
        IF @DEBUG=0 PRINT @Query
        EXEC sp_executeSQL @Query, N'@InvestedAUM FLOAT, @DealID INT, @SingleLimit FLOAT, @TotalAUM FLOAT', @InvestedAUM=@InvestedAUM, @DealID=@DealID, @SingleLimit=@SingleLimit, @TotalAUM=@TotalAUM
        SET @DealID = @DealID + 1
    END
    /****Return the bound portfolio details
    ****/
  /*  SET @Query = 'SELECT a.ID [Sr.No], a.ILSName [Name],[Issuer],[Series],[Class],[Reset],[Renewal],a.LossBasis [Loss Basis],a.CUSIP [Cusip ID], a.NRE_ID [NRE_ID], a.ISIN_ID [ISINID],a.AttachProb,a.ExhaustProb,a.CurrExchangeFactor,a.Reinstatements [No of Reinstatement],[Hedges],a.BoundDate [Bound Date],a.ExpirationDate [Expiration Date],[TTM], a.[Fronting],a.SecurityInstrument [Security Instrument],a.Tranche as Tranche, a.SponsorTier, a.ReinRetro, a.[OccAgg/QS], a.layer_group, a.Qscore,a.OccurenceLimit [Occ Limit (100%)], a.AggregateLimit [Aggregate Limit (100%)], a.Premium100 [100% Premium], a.COMPANYOccurenceLimit [COMPANY Occ Limit],a.COMPANYAggregateLimit [COMPANY Agg Limit],Quantity [Quantity],[Fronted],a.CollateralFronted [Collateral (Fronted)], a.CollateralPremium [Collateral Premium],a.CollateralFee [Collateral Fee],a.BondPrice [Bond Price @Binding],BondCoupon [Bond Coupon],BondTransactionType [Bond Buy or Sell],BondBuyDate [Bond Buy Date], BondSellPrice [BondSellPrice],BondSellDate [Bond Sell Date],a.COMPANYShare [COMPANY Share], BondInitialSpread [Bond Initial Spread], BondRedemptionPrice [Bond Redemption],[ROL],RealisedGain  [Realised Gain], a.Premium [Premium], a.CoTVAR1000 [Co-TVAR 1000], a.InvestedAUM [Invested AUM], a.ExpectedLoss [Exp. Loss], a.StandardDeviation [SD], a.AEP5 [5 AEP],a.AEP10 [10 AEP],a.AEP20 [20 AEP],a.AEP25 [25 AEP],a.AEP50 [50 AEP],a.AEP75 [75 AEP], a.AEP100 [100 AEP], a.AEP500 [500 AEP], a.BreakevenProbability [Breakeven Probability],a.ActualAUMPercent [Actual % of AUM], a.SingleRiskGuideline [Single Risk Guideline], a.GuidelineCheck [Guideline Check], a.InitialFees [Initial Fees], Expenses [UW Expenses], a.FrontingFee [Fronting Fee], a.MaxContLiab,a.NonModeledAndCOMPANYView [Non-Modeled + COMPANY View], a.ExceptionApproval [Exception Approval],  a.LossRatio [Loss Ratio], a.CoTVAR100 [Co-TVAR 100],[Return], a.ReturnonCoTVAR100 [Return on Co-TVAR 100], a.Profit [Profit (%)],QuantityPledged [Quantity Pledged],PledgedPrct [Pledged %], a.AvgRateChangeProjection [Avg Rate Change Projection],[ContractWordingReceivedDate], [ContractWordingForwardedtoAONART],[AuthorizationDate],[ConfirmationNoticeDate],[ContractExecutedDate],[TreatyType],[CoverageType]' --,[CurrencyCode]'
    + ' FROM ' + @tblBoundPortfolioDetails + ' a'
    + CASE WHEN NOT EXISTS( SELECT * FROM #Fronting where Fronting = 'All') THEN ' inner join #Fronting b on a.Fronting = b.Fronting' ELSE '' END
    + CASE WHEN NOT EXISTS( SELECT * FROM #SecurityInstrument WHERE SecurityInstrument = 'ALL') THEN ' inner join #SecurityInstrument c on a.[SecurityInstrument] = c.SecurityInstrument' ELSE '' END
    --+ ' WHERE a.[BoundDate] <= CASE WHEN @IncludeExpired = 0 THEN ''' + cast(@AsOfDate as nvarchar(255)) + ''' ELSE ''2100-1-1'' END'
    --+ ' AND a.[ExpirationDate] >= CASE WHEN @IncludeExpired = 0 THEN ''' + cast(@AsOfDate as nvarchar(255)) + ''' ELSE ''1900-1-1'' END'
    --+ ' ORDER BY a.ID'
    
    IF @DEBUG = 0 PRINT @Query
    EXEC sp_executeSQL @Query, N'@IncludeExpired INT, @AsOfDate DATE, @ReportID INT', @IncludeExpired=@IncludeExpired, @AsOfDate=@AsOfDate, @ReportID=@ReportID*/

END

/**
--use ARAPL_Configuration
DECLARE @excelID NVARCHAR(25)
--DECLARE @Query NVARCHAR(MAX)
--SET @excelID = '0'
EXEC [dbo].[arapl_getBoundPortfolioDetails] @ReportDate = '2023-03-17 00:00:00.000', @PortfolioID = 3, @Fronting = 'all', @SecurityInstrument = 'all', @AsOfDate='2023-03-17 00:00:00.000', @IncludeExpired = 1, @RunOff = 0, @ExportID = @excelID output, @Vendor='COMPANYView',@DEBUG = 1
SELECT @ExcelID
----EXEC [arapl_getBoundPortfolio_RegionPeril] @ExcelID
--EXEC arapl_getBoundPortfolio_HistoricalEvents @ExcelID
--EXEC [arapl_getBoundPortfolio_LeverageCalculationEPCurve] @ExcelID
EXEC arapl_getBoundPortfolio_LeverageCalculation @ExcelID
--EXEC arapl_getBoundPortfolio_MonthlyEarningPattern  @ExcelID
--EXEC [arapl_getBoundPortfolio_MonthlyPremiumBreakup] @ExcelID
--EXEC [arapl_getBoundPortfolio_LimitBySecurityInstrument] @ExcelID
--EXEC [arapl_getBoundPortfolio_LimitByIssuer] @ExcelID
--EXEC [arapl_getBoundPortfolio_PMLSummary] @ExcelID
--EXEC [arapl_getBoundPortfolio_EPCurve] @ExcelID
--EXEC [arapl_getBoundPortfolio_PortfolioMetrics] @ExcelID
--EXEC [arapl_getBoundPortfolio_PnLReport] @ExcelID
--EXEC [arapl_getBoundPortfolio_RegionPerilByDeal] @ExcelID
--EXEC [arapl_getBoundPortfolio_BoundPositions]  @ExcelID
--EXEC [arapl_getBoundPortfolioSummary_ReturnByHistEventUSWind] @ExcelID
--EXEC [arapl_getBoundPortfolioSummary_ReturnByHistEventWorlwide] @ExcelID
--EXEC [insert] @ExcelID
--EXEC [arapl_getBoundPortfolioDetails_Cleanup]  @ExcelID


**/
/*

DECLARE @excelID NVARCHAR(25)
--DECLARE @Query NVARCHAR(MAX)
SET @excelID = '0'
EXEC [dbo].[arapl_getBoundPortfolioDetails] @ReportDate = '2022-11-29', @PortfolioID = 1, @Fronting = 'all', @SecurityInstrument = 'all', @AsOfDate='2022-11-29', @IncludeExpired = 1, @ExportID = @excelID OUTPUT, @DEBUG = 1
SELECT @ExcelID

*/


