USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_PMLSummary_UI]    Script Date: 3/10/2026 3:10:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Mandar Belambe
-- Create date: 
-- Description:	
-- =============================================
ALTER   PROCEDURE [dbo].[arapl_getBoundPortfolio_PMLSummary_UI]

	-- Add the parameters for the stored procedure here
	@ExportID NVARCHAR(25),
    @DEBUG BIT = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    DECLARE @tblSummary NVARCHAR(255)
    DECLARE @tblPortYELT NVARCHAR(255)
    DECLARE @Query NVARCHAR(MAX)

    DECLARE @ReportID INT
    DECLARE @PortfolioAUM FLOAT

    DECLARE
    @LossType  NVARCHAR(255), 
    @ReturnPeriod INT,
    @ConstraintName NVARCHAR(255), 
    @SingleLimit FLOAT, 
    @MaxLimit FLOAT,
    @STATUS NVARCHAR(255)

    
    DECLARE
    @RegionID INT,
    @RegionMaxID INT,
    @RegionCode nvarchar(MAX),
    @SubRegionCode NVARCHAR(255),
    @CountryCode NVARCHAR(255),
    @PerilCode INT,
    @RegionPerilDescription NVARCHAR(255)

    SET @tblPortYELT = 'ARAPL_Works.dbo.tmpBoundPortYELT_' + @ExportID
    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID
    
    SET @Query = 'SELECT @ReportID = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ReportID'';'
    + ' SELECT @PortfolioAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalAUM'''
    IF @DEBUG = 1 PRINT @Query
	    EXEC sp_executeSQL @Query, N'@ReportID INT OUTPUT, @PortfolioAUM FLOAT OUTPUT', @ReportID=@ReportID OUTPUT, @PortfolioAUM=@PortfolioAUM OUTPUT

    --SELECT @ReportID, @PortfolioAUM

	IF @DEBUG = 1 PRINT '@tblPortYELT: ' + @tblPortYELT

    CREATE TABLE #PortYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT
    )
    SET @Query = 'INSERT INTO #PortYLT (Year, AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year,'
    + ' SUM(Loss), ROW_NUMBER() OVER(order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortYELT + ' a'
    + ' group by Year;'


	IF @DEBUG = 1 PRINT @Query
    PRINT @Query
	EXEC sp_executeSQL @Query

    
    DROP TABLE IF EXISTS #tmpRegions
    CREATE TABLE #tmpRegions
    (
        ID INT IDENTITY(1,1), -- primary key column
        RegionPerilName [NVARCHAR](50) NOT NULL,
        LossType [NVARCHAR](50) NOT NULL,
        ReturnPeriod INT,
        SingleLimit FLOAT,
        MaxLimit FLOAT,
        ConstraintType NVARCHAR(100),
        ConstraintName NVARCHAR(100)
    );

    CREATE TABLE #EPYLT(
    Year INT,
    Loss FLOAT,
    Rank INT
    )


    -- guideline peril regions
    INSERT INTO #tmpRegions(RegionPerilName, LossType, ReturnPeriod, SingleLimit, MaxLimit, ConstraintName, ConstraintType)
    SELECT distinct ConstraintName, LossType, ReturnPeriod, SingleLimit, MaxLimit, ConstraintName, ConstraintType
    FROM Guidelines WHERE ReportID = @ReportID AND ConstraintType = 'PerilRegion'

    SELECT @RegionMaxID = MAX(ID) FROM #tmpRegions

    IF @DEBUG = 1 select @RegionMaxid, * FROM #tmpRegions

    CREATE TABLE #tmpResults(
    PerilRegion NVARCHAR(255),
    LossType NVARCHAR(255),
    Loss FLOAT,
    Guideline FLOAT,
    LossPerc FLOAT,
    GuidelineCheck NVARCHAR(255),
    )
    
    CREATE TABLE #Results([Peril/Region] NVARCHAR(255),
    [Actual 100 yr Occ PML ($)] FLOAT,
    [Actual 500 yr Agg PML ($)] FLOAT,
    [Actual 100 yr Occ PML (%)] FLOAT,
    [Actual 500 yr Agg PML(%)] FLOAT,
    [Guideline 100 yr Occ PML (%)] FLOAT,
    [Guideline 500 yr Agg PML (%) ] FLOAT,
    [100 yr Occ PML ] NVARCHAR(255),
    [500 yr Agg PML ] NVARCHAR(255))
    
    /******Generate Region/Peril guideilnes
    ******/
    SET @RegionID = 1

    SELECT @RegionMaxID = MAX(ID) FROM #tmpRegions

    DECLARE @RPLoss FLOAT
    WHILE @RegionID <= @RegionMaxID
    BEGIN
		--Set null is required
		Set @RegionPerilDescription = NULL
		Set @LossType = NULL
		Set @ReturnPeriod = NULL
		Set @ConstraintName = NULL
		Set @SingleLimit = NULL
		Set @MaxLimit = NULL
		Set @CountryCode = NULL
		Set @PerilCode = NULL
		Set @SubRegionCode = NULL
		Set @RegionCode = NULL
        
        SELECT @RegionPerilDescription = RegionPerilName, @LossType = LossType, @ReturnPeriod = ReturnPeriod,
        @ConstraintName = ConstraintName, @SingleLimit = SingleLimit, @MaxLimit = MaxLimit
        FROM #tmpRegions WHERE ID = @RegionID
        
        SELECT @CountryCode = CountryIDList, @PerilCode = PerilID,  @RegionCode = StateCodeList
        FROM ARAPL_IndustryLoss..PerilRegion pr WHERE Region_Description = @RegionPerilDescription

        IF @DEBUG = 1 SELECT @RegionID RegionID,@RegionMaxID RegionMaxID, @RegionPerilDescription  RegionPerilName, @LossType  LossType, @ReturnPeriod  ReturnPeriod,
        @ConstraintName  ConstraintName, @SingleLimit  SingleLimit, @MaxLimit  MaxLimit, @CountryCode  Country, @PerilCode  Peril, @SubregionCode  SubRegion, @RegionCode  Region
 
	 DECLARE @Operator nvarchar(50)
	 	 DECLARE @Query1 nvarchar(MAX)
	 SET @Operator = ' IN '
	 IF @RegionPerilDescription like 'all%other%'
			BEGIN
			SET @Operator = ' NOT IN '
 			END

            TRUNCATE TABLE #EPYLT
            SET @Query = 'INSERT INTO #EPYLT(Year, Loss, Rank)'
            + CASE WHEN @LossType = 'OEP' THEN 'SELECT a.Year, MAX(a.Loss) AS Loss, ROW_NUMBER() OVER(ORDER BY MAX(a.Loss) DESC) AS Rank'
                          WHEN @LossType = 'AEP' OR @LossType = 'TVAR' THEN 'SELECT a.Year, SUM(a.Loss) AS Loss, ROW_NUMBER() OVER(ORDER BY SUM(a.Loss) DESC) AS Rank'  END
            + ' FROM ' + @tblPortYELT + ' a'
            + ' WHERE a.eventid <> 0 '
            + CASE WHEN @PerilCode IS NOT NULL THEN ' AND a.Peril = ' + CAST(@PerilCode AS NVARCHAR(10)) ELSE '' END
            set @Query1 =  CASE WHEN @CountryCode IS NOT NULL THEN ' AND a.Country ' +@operator +'('+ CAST(@CountryCode AS NVARCHAR(200)) + ')' ELSE '' END
           
		   + CASE WHEN @RegionCode IS NOT NULL THEN ' AND a.Region ' +@operator + +'('+CAST(@RegionCode AS NVARCHAR(MAX)) + ')' ELSE '' END
            + ' GROUP BY a.Year'

		   IF @DEBUG = 1  PRINT @RegionPerilDescription
		   IF @DEBUG = 1 PRINT @Query +@Query1

     	   EXEC ( @Query  + @Query1)

        
        IF @LossType = 'TVAR'
        BEGIN
            SELECT @RPLoss = AVG(Loss) FROM #EPYLT WHERE Rank <= ROUND(10000 / @ReturnPeriod, 0)
        END
        ELSE
        BEGIN
            SELECT @RPLoss = MAX(Loss) FROM #EPYLT WHERE Rank = ROUND(10000 / @ReturnPeriod, 0)
        END
        
        SET @Status = CASE WHEN @MaxLimit IS NOT NULL AND @RPLoss <= @PortfolioAUM * @MaxLimit THEN 'OK'
        WHEN @MaxLimit IS NOT NULL AND @RPLoss > @PortfolioAUM * @MaxLimit THEN 'Breached'
        ELSE 'OK' END

        INSERT INTO #tmpResults(PerilRegion, LossType, Loss, LossPerc, Guideline, GuidelineCheck)
        VALUES(@RegionPerilDescription, CAST(@ReturnPeriod AS NVARCHAR(255)) + ' yr ' + CASE WHEN @LossType = 'OEP' THEN 'Occ' WHEN @LossType = 'AEP' THEN 'Agg' END + ' PML', @RPLoss, @RPLoss / @PortfolioAUM, @MaxLimit, @STATUS)
        
        --select @LossType, @RegionCode, @RegionPerilDescription,SUM(AggLoss)/1e4 , @RPLoss, @ReturnPeriod FROM #RegionYLT

        --INSERT INTO #tmptbl(ConstraintName,ConstraintType,SingleLimit, MaxLimit,InvestedAUM ,Guideline, LossType, ActualPercent)
        --VALUES(@ConstraintName, @ConstraintType, @SingleLimit, @MaxLimit, @PortfolioAUM, @Status, CAST(@ReturnPeriod AS NVARCHAR(10)) + 'yr ' + @LossType, @RPLoss/@PortfolioAUM)
        --PRINT CAST(@RegionPerilDescription AS NVARCHAR(25))+ ': ' + CAST(@RPLoss AS NVARCHAR(25))
        
        SET @RegionID = @RegionID + 1
    END

	DROP TABLE IF EXISTS tmpPerilOrder 
    CREATE TABLE tmpPerilOrder(
    Peril NVARCHAR(255),
    ID INT IDENTITY(1,1))

INSERT INTO tmpPerilOrder(Peril)VALUES('US Hurricanes') 
 INSERT INTO tmpPerilOrder(Peril)VALUES('Florida Hurricane') 
 INSERT INTO tmpPerilOrder(Peril)VALUES('Texas Hurricane') 


    DELETE FROM dbo.UI_PerilRegion_PML
    WHERE ExportID = @ExportID;

     INSERT INTO dbo.UI_PerilRegion_PML
    (
        ExportID,
        PerilRegion,
        Actual_100yr_Occ_PML_Dollar,
        Actual_500yr_Agg_PML_Dollar,
        Actual_100yr_Occ_PML_Pct,
        Actual_500yr_Agg_PML_Pct,
        Guideline_100yr_Occ_PML_Pct,
        Guideline_500yr_Agg_PML_Pct,
        GuidelineCheck_100yr_Occ_PML,
        GuidelineCheck_500yr_Agg_PML
    )


    SELECT    @ExportID,
                piv.PerilRegion, 
                   ISNULL(piv.[100 yr Occ PML], 0) [Actual 100 yr Occ PML ($)], 
                   ISNULL(piv.[500 yr Agg PML], 0) [Actual 500 yr Agg PML ($)], 
                   ISNULL(piv3.[100 yr Occ PML], 0) [Actual 100 yr Occ PML (%)], 
                   ISNULL(piv3.[500 yr Agg PML], 0) [Actual 500 yr Occ PML (%)], 
                   ISNULL(piv2.[100 yr Occ PML], 0) [Guideline 100 yr Occ PML (%)], 
                   ISNULL(piv2.[500 yr Agg PML], 0) [Guideline 500 yr Agg PML (%)], 
                   ISNULL(piv4.[100 yr Occ PML], 'N/A') [Guideline Check 100 yr Occ PML (%)], 
                   ISNULL(piv4.[500 yr Agg PML], 'N/A') [Guideline Check 100 yr Occ PML (%)]
    FROM(
    SELECT PerilRegion, Loss, LossType
    FROM #tmpResults
    )t1
    PIVOT
    (MAX(Loss)
    FOR LossType in ([100 yr Occ PML], [500 yr Agg PML])
    )piv
    inner join
    (
    SELECT PerilRegion, LossType, Guideline
    FROM #tmpResults
    )t1
    PIVOT
    (MAX(Guideline)
    FOR LossType in ([100 yr Occ PML], [500 yr Agg PML])
    )piv2
    on piv.PerilRegion = piv2.PerilRegion
    inner join
    (
    SELECT PerilRegion, LossType, LossPerc
    FROM #tmpResults
    )t1
    PIVOT
    (MAX(LossPerc)
    FOR LossType in ([100 yr Occ PML], [500 yr Agg PML])
    )piv3
    on piv.PerilRegion = piv3.PerilRegion
    inner join
    (
    SELECT PerilRegion, LossType, GuidelineCheck
    FROM #tmpResults
    )t1
    PIVOT
    (MAX(GuidelineCheck)
    FOR LossType in ([100 yr Occ PML], [500 yr Agg PML])
    )piv4
    on piv.PerilRegion = piv4.PerilRegion

	 INNER JOIN tmpPerilOrder b  ON piv.PerilRegion = b.Peril
     ORDER BY b.ID

END


