USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_RegionPeril_UI]    Script Date: 5/19/2026 1:51:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_RegionPeril_UI]
    @ExportID NVARCHAR(25)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE 
        @ReportID INT,
        @Query NVARCHAR(MAX),
        @tblbyRegionPerilPortfolio NVARCHAR(255),
        @tblbyRegionPerilILSType NVARCHAR(255),
        @tblSummary NVARCHAR(255),
        @FinalTable NVARCHAR(255)

    -- Dynamic table names
    SET @tblbyRegionPerilPortfolio = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byRegionPerilPortfolio_' + @ExportID
    SET @tblbyRegionPerilILSType   = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_byRegionPerilILSType_' + @ExportID
    SET @tblSummary               = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID
    SET @FinalTable               = 'ARAPL_Works.dbo.BoundPortfolio_RegionPeril_UI_' + @ExportID

    -- Get ReportID
    SET @Query = '
        SELECT @ReportIDOUT = VALUE 
        FROM ' + @tblSummary + ' 
        WHERE MetricName = ''ReportID'' '

    EXEC sp_executesql 
        @Query,
        N'@ReportIDOUT INT OUTPUT',
        @ReportIDOUT = @ReportID OUTPUT


    ----------------------------------------------------------
    -- Build ILSType List
    ----------------------------------------------------------

    DECLARE 
        @ILSType NVARCHAR(255),
        @ILSTypeList NVARCHAR(MAX) = '',
        @ILSTypeFieldList NVARCHAR(MAX) = '',
        @ID INT = 1,
        @MAXID INT

    CREATE TABLE #tmpILSType
    (
        ID INT IDENTITY(1,1),
        ILSType NVARCHAR(255)
    )

    INSERT INTO #tmpILSType(ILSType)
    SELECT DISTINCT ConstraintName
    FROM guidelines
    WHERE ConstraintType = 'Issuer'
          AND ReportID = @ReportID
    ORDER BY ConstraintName

    IF NOT EXISTS (SELECT 1 FROM #tmpILSType)
    BEGIN
        INSERT INTO #tmpILSType(ILSType)
        SELECT ILSType FROM ARAPL_Configuration.dbo.ILSType
    END

    SELECT @MAXID = MAX(ID) FROM #tmpILSType

    WHILE @ID <= @MAXID
    BEGIN
        SELECT @ILSType = ILSType FROM #tmpILSType WHERE ID = @ID

        SET @ILSTypeFieldList = @ILSTypeFieldList 
            + 'ISNULL(piv.[' + @ILSType + '],0) [' + @ILSType + '],'

        SET @ILSTypeList = @ILSTypeList 
            + '[' + @ILSType + '],'

        SET @ID = @ID + 1
    END

    SET @ILSTypeFieldList = LEFT(@ILSTypeFieldList, LEN(@ILSTypeFieldList)-1)
    SET @ILSTypeList = LEFT(@ILSTypeList, LEN(@ILSTypeList)-1)

    ----------------------------------------------------------
    -- Peril Order Table
    ----------------------------------------------------------

    DROP TABLE IF EXISTS tmpPerilOrder

    CREATE TABLE tmpPerilOrder
    (
        Peril NVARCHAR(255),
        ID INT IDENTITY(1,1)
    )

    INSERT INTO tmpPerilOrder(Peril)
    VALUES
    ('WWAP'),('US Hurricanes'),('Florida Hurricane'),
    ('Texas Hurricane'),('Louisiana Hurricane'),
    ('Northeast Hurricane'),('Southeast Hurricane'),
    ('Gulf of Mexico WS'),('California Earthquake'),
    ('US Earthquake xl CA'),('US Inland Flood'),
    ('Europe Tropical Cyclone'),('Europe Earthquake'),
    ('Japan Earthquake'),('Japan Typhoon'),
    ('US Severe Storm'),('US Winter Storm'),
    ('US WildFire'),('Mexico Hurricane'),
    ('Mexico Earthquake'),('South America Earthquake'),
    ('Terrorism'),('All other WS'),('all other EQ')


    ----------------------------------------------------------
    -- FINAL PERMANENT TABLE OUTPUT
    ----------------------------------------------------------

    SET @Query = '
    DROP TABLE IF EXISTS ' + @FinalTable + ';

    SELECT 
        b.ID,
        c.RegionPerilDescription,
        c.AAL,
        c.OtherAAL,
        c.VAR_100,
        c.TVAR_100,
        c.CoTVAR_100,
        c.AEP_100_OtherAAL,
        c.PnL,
        ' + @ILSTypeFieldList + '
    INTO ' + @FinalTable + '
    FROM
    (
        SELECT RegionPerilDescription, ILSType, AAL
        FROM ' + @tblbyRegionPerilILSType + '
    ) t1
    PIVOT
    (
        SUM(AAL)
        FOR ILSType IN (' + @ILSTypeList + ')
    ) piv
    RIGHT JOIN ' + @tblbyRegionPerilPortfolio + ' c
        ON piv.RegionPerilDescription = c.RegionPerilDescription
    INNER JOIN tmpPerilOrder b
        ON c.RegionPerilDescription = b.Peril
    ORDER BY b.ID
    '

    PRINT @Query
    EXEC sp_executesql @Query

END
