USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_PnLReport_UI]    Script Date: 3/10/2026 3:10:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_PnLReport_UI]

	-- Add the parameters for the stored procedure here
	@ExportID NVARCHAR(25)
AS

SET NOCOUNT ON
SET ANSI_NULLS OFF
BEGIN


    DECLARE @tblBoundPortfolioDetails  NVARCHAR(255)
    DECLARE @tblPortYELT NVARCHAR(255)
    DECLARE @tblSummary NVARCHAR(255)
    DECLARE 
    @InvestedAUM FLOAT,
    @TotalPremium FLOAT,
    @FederalExciseTax FLOAT,
    @AcqExpenses FLOAT,
    @FrontingFee FLOAT,
    @PortNonModeledAAL FLOAT,
    @PortfolioAAL FLOAT,
    @ReportID FLOAT,
    @NotionalShortAggLimit FLOAT,
    @NotionalShortOccLimit FLOAT,
    @LeverageExpense FLOAT,
    @InvestmentIncome FLOAT,
    @OpOrgExpenses FLOAT,
    @ManagementFee FLOAT,
    @Carry FLOAT,
    @TotalAUM FLOAT,
    @PortStdDev FLOAT,
    @LossThreshold FLOAT,
    @ExceedanceProbability FLOAT,
    @ReinstatementPremium FLOAT

    DECLARE @ReturnPeriodString NVARCHAR(MAX) = '1.1111,2,5,7,10,25,50,100,250,500,1000'
    
    DECLARE @Query NVARCHAR(MAX)

    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID
    SET @tblPortYELT = 'ARAPL_Works.dbo.tmpBoundPortYELT_' + @ExportID
    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID

    
    CREATE TABLE #tmpEPYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT
    )
    SET @Query = 'INSERT INTO #tmpEPYLT (Year, AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year,'
    + ' SUM(Loss), ROW_NUMBER() OVER(order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortYELT + ' a'
    + ' group by Year;'
    EXEC sp_executeSQL @Query


    
    SET @Query = ' SELECT @InvestedAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''InvestedAUM'';'
    + ' SELECT @TotalPremium = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalPremium'';'
    + ' SELECT @FederalExciseTax = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''FederalExciseTax'';'
    + ' SELECT @AcqExpenses = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''AcqExpenses'';'
    + ' SELECT @FrontingFee = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''FrontingFee'';'
    + ' SELECT @PortNonModeledAAL = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''PortNonModeledAAL'';'
    + ' SELECT @PortfolioAAL = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''PortfolioAAL'';'
    + ' SELECT @ReportID = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ReportID'';'
    + ' SELECT @NotionalShortAggLimit = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''NotionalShortAggLimit'';'
    + ' SELECT @NotionalShortOccLimit = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''NotionalShortOccLimit'';'
    + ' SELECT @LeverageExpense = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''LeverageExpense'';'
    + ' SELECT @InvestmentIncome = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''InvestmentIncome'';'
    + ' SELECT @OpOrgExpenses = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''OpOrgExpenses'';'
    + ' SELECT @ManagementFee = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ManagementFee'';'
    + ' SELECT @Carry = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''Carry'';'
    + ' SELECT @TotalAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalAUM'';'
    + ' SELECT @PortStdDEv = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''StandardDeviation'';'
    EXEC sp_executeSQL @Query, N'@InvestedAUM FLOAT OUTPUT, @TotalPremium FLOAT OUTPUT, @FederalExciseTax FLOAT OUTPUT, @AcqExpenses FLOAT OUTPUT, @FrontingFee FLOAT OUTPUT, @PortNonModeledAAL FLOAT OUTPUT, @PortfolioAAL FLOAT OUTPUT, @ReportID FLOAT OUTPUT, @NotionalShortAggLimit FLOAT OUTPUT, @NotionalShortOccLimit FLOAT OUTPUT, @LeverageExpense FLOAT OUTPUT, @InvestmentIncome FLOAT OUTPUT, @OpOrgExpenses FLOAT OUTPUT, @ManagementFee FLOAT OUTPUT, @Carry FLOAT OUTPUT, @TotalAUM FLOAT OUTPUT, @PortStdDev FLOAT OUTPUT', @InvestedAUM=@InvestedAUM OUTPUT, @TotalPremium=@TotalPremium OUTPUT, @FederalExciseTax=@FederalExciseTax OUTPUT, @AcqExpenses=@AcqExpenses OUTPUT, @FrontingFee=@FrontingFee OUTPUT, @PortNonModeledAAL=@PortNonModeledAAL OUTPUT, @PortfolioAAL=@PortfolioAAL OUTPUT, @ReportID=@ReportID OUTPUT, @NotionalShortAggLimit=@NotionalShortAggLimit OUTPUT, @NotionalShortOccLimit=@NotionalShortOccLimit OUTPUT, @LeverageExpense=@LeverageExpense OUTPUT, @InvestmentIncome=@InvestmentIncome OUTPUT, @OpOrgExpenses=@OpOrgExpenses OUTPUT, @ManagementFee=@ManagementFee OUTPUT, @Carry=@Carry OUTPUT, @TotalAUM=@TotalAUM OUTPUT, @PortStdDev=@PortStdDev OUTPUT

    SET @ReinstatementPremium = 0

    CREATE TABLE #PnLResults(
    ID INT IDENTITY(1,1),
    [Title] NVARCHAR(255),
    [ReturnPeriod] FLOAT,
    [Gross Written Premium] FLOAT,
    [Reinstatement Premium] FLOAT,
    [Leverage Expense] FLOAT,
    [Net Written Premium] FLOAT,
    [Gross Loss Amount] FLOAT,
    [Acquisition Expenses] FLOAT,
    [Federal Excise Tax] FLOAT,
    [Fronting Fee] FLOAT,
    [Net Underwriting Income] FLOAT,
    [Investment Income] FLOAT,
    [Op/Org Expenses] FLOAT,
    [Net Operating Income] FLOAT,
    [Excess Return Gross ] FLOAT,
    [Management Fee] FLOAT,
    [Carry] FLOAT,
    [Total Net Return] FLOAT  --SR: Total Gross Return has changed to Total Net Return  as per SK
    )
    INSERT INTO #PnLResults([Title]) VALUES('Expected')
    INSERT INTO #PnLResults([Title], [ReturnPeriod])
    SELECT  VALUE, VALUE
    FROM string_split(@ReturnPeriodString, ',')

    update #PnLResults
    set [Gross Written Premium] = @TotalPremium,
    [Reinstatement Premium] = @ReinstatementPremium,
    [Leverage Expense] = @LeverageExpense,
    [Net Written Premium] = @TotalPremium - @ReinstatementPremium - @LeverageExpense,
    [Gross Loss Amount] = ISNULL(b.AggLoss, 0),
    [Acquisition Expenses] = @AcqExpenses,
    [Federal Excise Tax] = @FederalExciseTax,
    [Fronting Fee] = @FrontingFee,
    [Net Underwriting Income] = @TotalPremium - @ReinstatementPremium - @LeverageExpense - ISNULL(b.AggLoss, 0) - @AcqExpenses - @FederalExciseTax - @FrontingFee,
    [Investment Income] = @InvestmentIncome,
    [Op/Org Expenses] = @OpOrgExpenses,
    [Net Operating Income] = @TotalPremium - @ReinstatementPremium - @LeverageExpense - ISNULL(b.AggLoss, 0) - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee,
    [Excess Return Gross ] = (@TotalPremium - @ReinstatementPremium - @LeverageExpense - ISNULL(b.AggLoss, 0) - @AcqExpenses - @FederalExciseTax - @FrontingFee)/@TotalAUM,
    [Management Fee] = @ManagementFee,
    [Carry] = @Carry,
    [Total Net Return] = (@TotalPremium - @ReinstatementPremium - @LeverageExpense - ISNULL(b.AggLoss, 0) - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@TotalAUM
    FROM #PnLResults a
    left join #tmpEPYLT b
    on FLOOR(10000/a.ReturnPeriod) = b.AggRank
    where a.[Title] <> 'Expected'

    update #PnLResults
    set [Gross Written Premium] = @TotalPremium,
    [Reinstatement Premium] = @ReinstatementPremium,
    [Leverage Expense] = @LeverageExpense,
    [Net Written Premium] = @TotalPremium - @ReinstatementPremium - @LeverageExpense,
    [Gross Loss Amount] = @PortfolioAAL,
    [Acquisition Expenses] = @AcqExpenses,
    [Federal Excise Tax] = @FederalExciseTax,
    [Fronting Fee] = @FrontingFee,
    [Net Underwriting Income] = @TotalPremium - @ReinstatementPremium - @LeverageExpense - @PortfolioAAL - @AcqExpenses - @FederalExciseTax - @FrontingFee,
    [Investment Income] = @InvestmentIncome,
    [Op/Org Expenses] = @OpOrgExpenses,
    [Net Operating Income] = @TotalPremium - @ReinstatementPremium - @LeverageExpense - @PortfolioAAL - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee,
    [Excess Return Gross ] = (@TotalPremium - @ReinstatementPremium - @LeverageExpense - @PortfolioAAL - @AcqExpenses - @FederalExciseTax - @FrontingFee)/@TotalAUM,
    [Management Fee] = @ManagementFee,
    [Carry] = @Carry,
    [Total Net Return] = (@TotalPremium - @ReinstatementPremium - @LeverageExpense - @PortfolioAAL - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@TotalAUM
    FROM #PnLResults a
    where a.[Title] = 'Expected'

    CREATE TABLE #colOrdering(
    ID INT IDENTITY(1,1),
    col NVARCHAR(255))
    INSERT INTO #colOrdering(col)
    VALUES('Gross Written Premium'),
('Reinstatement Premium'),
('Leverage Expense'),
('Net Written Premium'),
('Gross Loss Amount'),
('Acquisition Expenses'),
('Federal Excise Tax'),
('Fronting Fee'),
('Net Underwriting Income'),
('Excess Return Gross '),
('Investment Income'),
('Op/Org Expenses'),
('Management Fee'),
('Carry'),
('Net Operating Income'),
('Total Net Return')

    SELECT *
    into #tmppnlresults
    FROM(
        SELECT [Title], value, col
        FROM #PnLResults
        unpivot(value for col in ([Gross Written Premium],[Reinstatement Premium],[Leverage Expense],[Net Written Premium],[Gross Loss Amount],[Acquisition Expenses],[Federal Excise Tax],[Fronting Fee],
		[Net Underwriting Income],[Excess Return Gross ],[Investment Income],[Op/Org Expenses],[Management Fee],[Carry],[Net Operating Income],[Total Net Return])
        ) unpiv
        )src
        pivot(
        max(value)
        for [title] in ([Expected], [1.1111], [2], [5], [10], [25], [50], [100], [250], [500],[1000])
        )piv
    
    DELETE FROM dbo.UI_PnL_Results
    WHERE ExportID = @ExportID;

    INSERT INTO dbo.UI_PnL_Results
(
    ExportID,
    ColName,
    Expected,
    Yr1_11,
    Yr2,
    Yr5,
    Yr10,
    Yr25,
    Yr50,
    Yr100,
    Yr250,
    Yr500,
    Yr1000
)
SELECT 
    @ExportID, a.col, [Expected], a.[1.1111] as [yr1.11], a.[2] as Yr2, a.[5] as yr5, a.[10] as yr10, a.[25] as yr25, 
	a.[50] as yr50, a.[100] as yr100, a.[250] as yr250, a.[500] as yr500, a.[1000] as yr1000
    FROM #tmppnlresults a
    inner join #colOrdering b
    on a.col = b.col
    order by b.id

END
