USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_PortfolioMetrics_UI]    Script Date: 3/10/2026 3:10:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mandar Belambe
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_PortfolioMetrics_UI]
	-- Add the parameters for the stored procedure here
	@ExportID NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    DECLARE @tblBoundPortfolioDetails  NVARCHAR(255)
    DECLARE @tblPortYELT NVARCHAR(255)
    DECLARE @tblSummary NVARCHAR(255)
    DECLARE 
    @InvestedAUM FLOAT,
    @TotalPremium FLOAT,
    @FederalExciseTax FLOAT,
    @AcqExpenses FLOAT,
    @FrontingFee FLOAT,
    @PortNonModeledAAL FLOAT,
    @PortfolioAAL FLOAT,
    @ReportID FLOAT,
    @NotionalShortAggLimit FLOAT,
    @NotionalShortOccLimit FLOAT,
    @LeverageExpense FLOAT,
    @InvestmentIncome FLOAT,
    @OpOrgExpenses FLOAT,
    @ManagementFee FLOAT,
    @Carry FLOAT,
    @TotalAUM FLOAT,
    @PortStdDev FLOAT,
    @LossThreshold FLOAT,
    @ExceedanceProbability FLOAT,
    @Leverage FLOAT,
    @ROL FLOAT

    DECLARE
    @PortAEP_1_11 FLOAT = 0,
    @PortAEP_100 FLOAT = 0,
    @PortAEP_250 FLOAT = 0,
    @PortTVAR_100 FLOAT = 0

    DECLARE @Query NVARCHAR(MAX)

    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID
    SET @tblPortYELT = 'ARAPL_Works.dbo.tmpBoundPortYELT_' + @ExportID
    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID

    CREATE TABLE #tmpEPYLT(
    Year INT,
    AggLoss FLOAT,
    AggRank INT,
    OccLoss FLOAT,
    OccRank INT,
    AggTVAR FLOAT
    )
    SET @Query = 'INSERT INTO #tmpEPYLT (Year, AggLoss, AggRank, OccLoss, OccRank, AggTVAR)'
    + ' SELECT Year,'
    + ' SUM(Loss), ROW_NUMBER() OVER(order by SUM(Loss) desc),'
    + ' MAX(Loss), ROW_NUMBER() OVER(order by MAX(Loss) desc),'
    + ' AVG(SUM(Loss)) OVER(order by SUM(Loss) desc)'
    + ' FROM ' + @tblPortYELT + ' a'
    + ' group by Year;'
    EXEC sp_executeSQL @Query


    SELECT @PortAEP_1_11 = ISNULL(AggLoss, 0) from #tmpEPYLT WHERE AggRank = 9000
    SELECT @PortAEP_100 = AggLoss from #tmpEPYLT WHERE AggRank = 100
    SELECT @PortAEP_250 = AggLoss from #tmpEPYLT WHERE AggRank = 40
    SELECT @PortTVAR_100 = AggTVAR from #tmpEPYLT WHERE AggRank = 100


    SET @Query = ' SELECT @InvestedAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''InvestedAUM'';'
    + ' SELECT @TotalPremium = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalPremium'';'
    + ' SELECT @FederalExciseTax = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''FederalExciseTax'';'
    + ' SELECT @AcqExpenses = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''AcqExpenses'';'
    + ' SELECT @FrontingFee = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''FrontingFee'';'
    + ' SELECT @PortNonModeledAAL = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''PortNonModeledAAL'';'
    + ' SELECT @PortfolioAAL = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''PortfolioAAL'';'
    + ' SELECT @ReportID = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ReportID'';'
    + ' SELECT @NotionalShortAggLimit = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''NotionalShortAggLimit'';'
    + ' SELECT @NotionalShortOccLimit = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''NotionalShortOccLimit'';'
    + ' SELECT @LeverageExpense = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''LeverageExpense'';'
    + ' SELECT @InvestmentIncome = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''InvestmentIncome'';'
    + ' SELECT @OpOrgExpenses = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''OpOrgExpenses'';'
    + ' SELECT @ManagementFee = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ManagementFee'';'
    + ' SELECT @Carry = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''Carry'';'
    + ' SELECT @Leverage = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''Leverage'';'
    + ' SELECT @ROL = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ROL'';'
    + ' SELECT @TotalAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalAUM'';'
    + ' SELECT @PortStdDEv = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''StandardDeviation'';'
    EXEC sp_executeSQL @Query, N'@InvestedAUM FLOAT OUTPUT, @TotalPremium FLOAT OUTPUT, @FederalExciseTax FLOAT OUTPUT, @AcqExpenses FLOAT OUTPUT, @FrontingFee FLOAT OUTPUT, @PortNonModeledAAL FLOAT OUTPUT, @PortfolioAAL FLOAT OUTPUT, @ReportID FLOAT OUTPUT, @NotionalShortAggLimit FLOAT OUTPUT, @NotionalShortOccLimit FLOAT OUTPUT, @LeverageExpense FLOAT OUTPUT, @InvestmentIncome FLOAT OUTPUT, @OpOrgExpenses FLOAT OUTPUT, @ManagementFee FLOAT OUTPUT, @Carry FLOAT OUTPUT, @TotalAUM FLOAT OUTPUT, @PortStdDev FLOAT OUTPUT, @ROL FLOAT OUTPUT, @Leverage FLOAT OUTPUT', @InvestedAUM=@InvestedAUM OUTPUT, @TotalPremium=@TotalPremium OUTPUT, @FederalExciseTax=@FederalExciseTax OUTPUT, @AcqExpenses=@AcqExpenses OUTPUT, @FrontingFee=@FrontingFee OUTPUT, @PortNonModeledAAL=@PortNonModeledAAL OUTPUT, @PortfolioAAL=@PortfolioAAL OUTPUT, @ReportID=@ReportID OUTPUT, @NotionalShortAggLimit=@NotionalShortAggLimit OUTPUT, @NotionalShortOccLimit=@NotionalShortOccLimit OUTPUT, @LeverageExpense=@LeverageExpense OUTPUT, @InvestmentIncome=@InvestmentIncome OUTPUT, @OpOrgExpenses=@OpOrgExpenses OUTPUT, @ManagementFee=@ManagementFee OUTPUT, @Carry=@Carry OUTPUT, @TotalAUM=@TotalAUM OUTPUT, @PortStdDev=@PortStdDev OUTPUT, @Leverage=@Leverage OUTPUT, @ROL=@ROL OUTPUT

    SET @LossThreshold = @TotalPremium + @InvestmentIncome - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee - @OpOrgExpenses

    SELECT top 1 @ExceedanceProbability = AggRank / 1e4
    FROM #tmpEPYLT 
    order by abs(AggLoss - @LossThreshold)



    INSERT INTO dbo.UI_PortfolioMetrics (ExportID,[Metric], [USD], [%NAV])
    values(@ExportID,'Expected_Return Excess', @TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee, (@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee)/@TotalAUM),
    (@ExportID,'Expected_Return Net',(@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee), (@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@TotalAUM), --- corrected the Denominator to @TotalAUM and change the lable from 'Expected_Return Gross' to 'Expected_Return Net'
    (@ExportID,'Standard Deviation', @PortStdDev, @PortStdDev / @TotalAUM), --sR CHanged to @TotalAUM from @investedAUM
    (@ExportID,'Sharpe Ratio', (@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@PortStdDev, (@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@PortStdDev),
    (@ExportID,'CV', @PortStdDev / (@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee), NULL),
    (@ExportID,'Best Reasonable Outcome', (@TotalPremium - @PortAEP_1_11 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee),  (@TotalPremium - @PortAEP_1_11 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/@TotalAUM),
    (@ExportID,'ProbabilityOfLoss', @ExceedanceProbability, NULL),
    (@ExportID,'1 in 100 yr PML',  (@TotalPremium - @PortAEP_100 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee),  (@TotalPremium - @PortAEP_100 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/  @TotalAUM),
    (@ExportID,'1 in 250 yr PML',  (@TotalPremium - @PortAEP_250 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee),  (@TotalPremium - @PortAEP_250 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/  @TotalAUM),
    (@ExportID,'1% TVAR',  (@TotalPremium - @PortTVAR_100 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee),  (@TotalPremium - @PortTVAR_100 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/  @TotalAUM),
    (@ExportID,'RAROC (99%)', -(@TotalPremium - @PortfolioAAL - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee)/(@TotalPremium - @PortAEP_100 - @LeverageExpense - @AcqExpenses - @FederalExciseTax - @FrontingFee + @InvestmentIncome - @Carry - @OpOrgExpenses - @ManagementFee), NULL),
    (@ExportID,'Notional Occurrence Limits (Short)', @NotionalShortOccLimit, NULL),
    (@ExportID,'Notional Aggregate Limits (Short)', @NotionalShortAggLimit, NULL),
    (@ExportID,'Leverage', NULL, @NotionalShortAggLimit / @TotalAUM),
    (@ExportID,'ROL', NULL, @TotalPremium / @NotionalShortOccLimit),
    (@ExportID,'Deployed AUM', @InvestedAUM, NULL),
    (@ExportID,'Total AUM', @TotalAUM, NULL)

   

END


--exec [arapl_getBoundPortfolio_PortfolioMetrics_0808] 358061
