USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_MonthlyEarningPattern_UI]    Script Date: 5/19/2026 1:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_MonthlyEarningPattern_UI]
    @ExportID NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tblAALByMonth NVARCHAR(500)
    DECLARE @Query NVARCHAR(MAX)

    -- Safe dynamic table name
    SET @tblAALByMonth = 
        'ARAPL_Works.dbo.' + 
        QUOTENAME('tmpBoundPortfolioSummary_AALByMonth' + @ExportID)

    -- Remove old UI data
    DELETE FROM dbo.UI_ILS_Monthly_AAL
    WHERE ExportID = @ExportID;

    -- Build dynamic SQL
    SET @Query = '
        INSERT INTO dbo.UI_ILS_Monthly_AAL
        (
            ExportID,
            ILSName,
            Jan, Feb, Mar, Apr, May, June,
            July, Aug, Sept, Oct, Nov, Dec
        )
        SELECT 
            @ExportID,
            ILSName,
            ISNULL([1],0),
            ISNULL([2],0),
            ISNULL([3],0),
            ISNULL([4],0),
            ISNULL([5],0),
            ISNULL([6],0),
            ISNULL([7],0),
            ISNULL([8],0),
            ISNULL([9],0),
            ISNULL([10],0),
            ISNULL([11],0),
            ISNULL([12],0)
        FROM
        (
            SELECT ILSName, Month, AAL
            FROM ' + @tblAALByMonth + '
        ) AS t1
        PIVOT
        (
            MAX(AAL)
            FOR Month IN 
            ([1],[2],[3],[4],[5],[6],
             [7],[8],[9],[10],[11],[12])
        ) AS piv
        ORDER BY ILSName DESC
    '

    -- Properly pass parameter into dynamic SQL
    EXEC sp_executesql 
        @Query,
        N'@ExportID NVARCHAR(255)',
        @ExportID = @ExportID
END
