USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_MonthlyPremiumBreakup_UI]    Script Date: 3/10/2026 3:09:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Mandar Belambe
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_MonthlyPremiumBreakup_UI]
@ExportID NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    DECLARE @tblBoundPortfolioDetails NVARCHAR(255)
    DECLARE @tblAALByMonth NVARCHAR(255)
    DECLARE @TotalPremium FLOAT
    DECLARE @Query NVARCHAR(MAX)
    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID
    SET @tblAALByMonth = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_AALByMonth' + @ExportID

    SET @Query = 'SELECT @TotalPremium = SUM(ISNULL(Premium, 0)) FROM ' + @tblBoundPortfolioDetails
    EXEC sp_executeSQL @Query, N'@TotalPremium FLOAT OUTPUT', @TotalPremium=@TotalPremium OUTPUT

    DELETE FROM dbo.UI_ILS_Monthly_PremiumBreakup
    WHERE ExportID = @ExportID;

    SET @Query = 'INSERT INTO dbo.UI_ILS_Monthly_PremiumBreakup
                    (
                        ExportID,
                        MonthNo,
                        GrossPremium,
                        PremiumShare
                    )
         
    SELECT   @ExportID,Month, @TotalPremium * AAL [Gross Premium], AAL [Premium Share]'
    + ' FROM ' + @tblAALByMonth
    + ' WHERE ILSName = ''Portfolio'''
    + '  ORDER BY Month'
    PRINT @Query
    EXEC sp_executeSQL @Query, N'@ExportID NVARCHAR(255),@TotalPremium FLOAT', @ExportID = @ExportID, @TotalPremium=@TotalPremium

    
END
