USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_EPCurve_UI]    Script Date: 3/10/2026 3:12:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Mandar Belambe
-- Create date: 
-- Description:	
-- =============================================
ALTER  PROCEDURE [dbo].[arapl_getBoundPortfolio_EPCurve_UI]
@ExportID NVARCHAR(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
    DECLARE @tblPortYELT NVARCHAR(255)
    DECLARE @tblSummary NVARCHAR(255)
    DECLARE @Query NVARCHAR(MAX)

    
    DECLARE
    @InvestedAUM FLOAT = 1,
    @PortPremium FLOAT,
    @AcquisitionExpense FLOAT,
    @FET FLOAT,
    @FrontingFee FLOAT,
    @InvestmentIncome FLOAT,
    @OpOrgExpense FLOAT,
    @PortNonModeledAAL FLOAT,
    @NotionalShortOccLimit FLOAT,
    @NotionalShortAggLimit FLOAT,
    @ManagementFee FLOAT,
    @Carry FLOAT,
    @TotalAUM FLOAT,
	@LeverageExpenses FLOAT

    DECLARE @Premium_acq FLOAT

    SET @tblPortYELT = 'ARAPL_Works.dbo.tmpBoundPortYELT_' + @ExportID
    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID


    DROP TABLE IF EXISTS EPCurve;

    CREATE TABLE EPCurve(
    AggLoss FLOAT,
    [Rank] INT,
    [Year] INT,
    [Probability] FLOAT,
    [UW P&L] FLOAT,
    [Total P&L] FLOAT,
    [Excess Return(% Total)] FLOAT,
    [Total Return(% Total)] FLOAT,
    [Excess Return(% Deployed)] FLOAT,
    [Total Return(% Deployed)] FLOAT)

    
    --SET @Query = 'SELECT * FROM ' + @tblSummary 
    --EXEc sp_executeSQL @Query

    SET @Query = 'SELECT @PortPremium = Value FROM ' + @tblSummary + ' WHERE MetricName = ''TotalPremium'';'
    + ' SELECT @AcquisitionExpense = SUM(cast(VALUE as FLOAT)) FROM ' + @tblSummary + ' WHERE MetricName in (''AcqExpenses'', ''FederalExciseTax'', ''FrontingFee'');'
    + ' SELECT @InvestmentIncome = VALUE FROM ' + @tblSummary + ' WHERE MetricNAme = ''InvestmentIncome'';'
    + ' SELECT @OpOrgExpense = VALUE FROM ' + @tblSummary + ' Where MetricName = ''OpOrgExpenses'';'
    + ' SELECT @InvestedAUM = VALUE FROM ' + @tblSummary + ' Where MetricName = ''InvestedAUM'';'
    + ' SELECT @TotalAUM = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''TotalAUM'';'
	+ ' SELECT @LeverageExpenses = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''LeverageExpense'';'
	+ ' SELECT @ManagementFee = VALUE FROM ' + @tblSummary + ' WHERE MetricName = ''ManagementFee'';'
    EXEC sp_executeSQL @query, N'@PortPremium FLOAT OUTPUT, @AcquisitionExpense FLOAT OUTPUT, @InvestmentIncome FLOAT OUTPUT, @OpOrgExpense FLOAT OUTPUT, @InvestedAUM FLOAT OUTPUT, @TotalAUM FLOAT OUTPUT, @LeverageExpenses FLOAT OUTPUT, @ManagementFee FLOAT OUTPUT', @PortPremium=@PortPremium output, @InvestmentIncome=@InvestmentIncome output,@OpOrgExpense=@OpOrgExpense output, @AcquisitionExpense=@AcquisitionExpense output, @InvestedAUM=@InvestedAUM OUTPUT, @TotalAUM=@TotalAUM OUTPUT, @LeverageExpenses = @LeverageExpenses output,@ManagementFee = @ManagementFee OUTPUT

 --   SET @Query = 'INSERT INTO #EPCurve(AggLoss, Rank, Year)'
 --   + ' SELECT SUM(Loss), ROW_NUMBER() OVER(ORDER BY SUM(Loss) DESC), Year'
 --   + ' (SELECT Loss, Year
	--FROM ' + @tblPortYELT + 't 
	--UNION select 0, year from 
	--arapl_works.[dbo].[Table_10000Years]
	--where year not in (SELECT Distinct year from ' + @tblPortYELT + 
	--') t2 '+
 --   + ' GROUP BY Year'
 --   PRINT @Query
 --   EXEC sp_executeSQL @Query

 SET @Query = '
INSERT INTO EPCurve (AggLoss, Rank, Year)
SELECT 
    SUM(Loss) AS AggLoss,
    ROW_NUMBER() OVER (ORDER BY SUM(Loss) DESC) AS Rank,
    Year
FROM (
    SELECT Loss, Year
    FROM ' + @tblPortYELT + '

    UNION ALL

    SELECT 0 AS Loss, Year
    FROM arapl_works.dbo.Table_10000Years
    WHERE Year NOT IN (
        SELECT DISTINCT Year
        FROM ' + @tblPortYELT + '
    )
) AS CombinedData
GROUP BY Year;
';

PRINT @Query;
EXEC sp_executesql @Query;


    update EPCurve
    set Probability = [Rank] / 1e4,
    [UW P&L] = @PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss ,--TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses 
    [Total P&L] = @PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss + @InvestmentIncome - @OpOrgExpense - @ManagementFee, --TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses
    [Excess Return(% Deployed)] = (@PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss)/@InvestedAUM, --TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses
    [Excess Return(% Total)] = (@PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss)/@TotalAUM, --TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses
    [Total Return(% Deployed)] = (@PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss + @InvestmentIncome - @OpOrgExpense - @ManagementFee)/@InvestedAUM, --TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses
    [Total Return(% Total)] = (@PortPremium - @LeverageExpenses - @AcquisitionExpense - AggLoss + @InvestmentIncome - @OpOrgExpense - @ManagementFee) / @TotalAUM --TODO It should be PortPremium - Reins Premium - Leverage Fee -Acquisition Expenses
 
  DROP TABLE IF EXISTS UI_EPCurve;

SELECT
    @ExportID as ExportID,
    AggLoss,
    [Rank],
    [Probability],
    [UW P&L],
    [Total P&L],
    [Excess Return(% Total)],
    [Total Return(% Total)],
    [Excess Return(% Deployed)],
    [Total Return(% Deployed)]
    
    INTO UI_EPCurve

FROM EPCurve
ORDER BY AggLoss DESC;
 
END


