USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_LimitBySecurityInstrument_UI]    Script Date: 5/15/2026 5:02:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_LimitBySecurityInstrument_UI]
    @ExportID NVARCHAR(25)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @tblSummary NVARCHAR(255)
    DECLARE @tblBoundPortfolioDetails NVARCHAR(255)
    DECLARE @Query NVARCHAR(MAX)
    DECLARE @ReportID INT
    DECLARE @TotalAUM FLOAT
    DECLARE @TotalPremium FLOAT
    DECLARE @InvestedAUM FLOAT
    DECLARE @ExpectedLoss FLOAT

    DECLARE @STATUS_OK NVARCHAR(20) = 'OK'
    DECLARE @STATUS_Breached NVARCHAR(20) = 'Breached'

    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID
    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID

    ---------------------------------------------------------
    -- Get Portfolio Summary Values
    ---------------------------------------------------------

    SET @Query = '
        SELECT 
            @ReportID = MAX(CASE WHEN MetricName = ''ReportID'' THEN VALUE END),
            @InvestedAUM = MAX(CASE WHEN MetricName = ''InvestedAUM'' THEN VALUE END),
            @TotalPremium = MAX(CASE WHEN MetricName = ''TotalPremium'' THEN VALUE END),
            @ExpectedLoss = MAX(CASE WHEN MetricName = ''PortfolioAAL'' THEN VALUE END)
        FROM ' + @tblSummary

    EXEC sp_executeSQL 
        @Query,
        N'@ReportID INT OUTPUT,
          @InvestedAUM FLOAT OUTPUT,
          @TotalPremium FLOAT OUTPUT,
          @ExpectedLoss FLOAT OUTPUT',
        @ReportID=@ReportID OUTPUT,
        @InvestedAUM=@InvestedAUM OUTPUT,
        @TotalPremium=@TotalPremium OUTPUT,
        @ExpectedLoss=@ExpectedLoss OUTPUT

    ---------------------------------------------------------
    -- Get Total AUM
    ---------------------------------------------------------

    SELECT @TotalAUM = NotionalAUM 
    FROM PortfolioReport
    WHERE ReportID = @ReportID

    ---------------------------------------------------------
    -- Delete Existing UI Data for this ExportID
    ---------------------------------------------------------

    DELETE FROM dbo.UI_BoundPortfolio_LimitBySecurityInstrument
    WHERE ExportID = @ExportID

    ---------------------------------------------------------
    -- Insert Aggregated Data into UI Table
    ---------------------------------------------------------

    SET @Query = '
    INSERT INTO dbo.UI_BoundPortfolio_LimitBySecurityInstrument
    (
        ExportID,
        SecurityInstrument,
        ExposedLimit,
        ActualPctOfAUM,
        Guideline,
        GuidelineCheck,
        EL_Pct,
        AUM_Pct,
        Premium_Pct,
        Premium_Dollar
    )
    SELECT 
        @ExportID,
        a.SecurityInstrument,
        SUM(a.InvestedAUM),
        SUM(a.InvestedAUM)/NULLIF(@TotalAUM,0),
        b.MaxLimit,
        CASE 
            WHEN b.MaxLimit < SUM(a.InvestedAUM)/NULLIF(@TotalAUM,0)
            THEN ''' + @STATUS_Breached + '''
            ELSE ''' + @STATUS_OK + '''
        END,
        SUM(a.ExpectedLoss)/NULLIF(@ExpectedLoss,0),
        SUM(a.InvestedAUM)/NULLIF(@InvestedAUM,0),
        SUM(a.Premium)/NULLIF(@TotalPremium,0),
        SUM(a.Premium)
    FROM ' + @tblBoundPortfolioDetails + ' a
    INNER JOIN guidelines b
        ON a.SecurityInstrument = b.ConstraintName
        AND b.ConstraintType = ''Single''
       
    GROUP BY a.SecurityInstrument, b.MaxLimit'

    EXEC sp_executeSQL 
        @Query,
        N'@TotalAUM FLOAT,
          @InvestedAUM FLOAT,
          @ExpectedLoss FLOAT,
          @TotalPremium FLOAT,
          @ExportID NVARCHAR(25)',
        @TotalAUM=@TotalAUM,
        @InvestedAUM=@InvestedAUM,
        @ExpectedLoss=@ExpectedLoss,
        @TotalPremium=@TotalPremium,
        @ExportID=@ExportID

END
