USE [ARAPL_Configuration]
GO
/****** Object:  StoredProcedure [dbo].[arapl_getBoundPortfolio_LimitbyIssuer_UI]    Script Date: 5/19/2026 1:54:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[arapl_getBoundPortfolio_LimitbyIssuer_UI]
    @ExportID NVARCHAR(25)
AS
BEGIN

    SET NOCOUNT ON;

    DECLARE @tblSummary NVARCHAR(255)
    DECLARE @tblBoundPortfolioDetails NVARCHAR(255)
    DECLARE @Query NVARCHAR(MAX)
    DECLARE @ReportID INT
    DECLARE @TotalAUM FLOAT
    DECLARE @TotalPremium FLOAT
    DECLARE @InvestedAUM FLOAT
    DECLARE @ExpectedLoss FLOAT

    DECLARE @STATUS_OK NVARCHAR(255) = 'OK'
    DECLARE @STATUS_Breached NVARCHAR(255) = 'Breached'

    SET @tblSummary = 'ARAPL_Works.dbo.tmpBoundPortfolioSummary_' + @ExportID
    SET @tblBoundPortfolioDetails = 'ARAPL_Works.dbo.tmpBoundPortfolioDetails_' + @ExportID

    SET @Query = '
        SELECT @ReportID = VALUE 
        FROM ' + @tblSummary + ' 
        WHERE MetricName = ''ReportID'';

        SELECT @InvestedAUM = VALUE 
        FROM ' + @tblSummary + ' 
        WHERE MetricName = ''InvestedAUM'';

        SELECT @TotalPremium = VALUE 
        FROM ' + @tblSummary + ' 
        WHERE MetricName = ''TotalPremium'';

        SELECT @ExpectedLoss = VALUE 
        FROM ' + @tblSummary + ' 
        WHERE MetricName = ''PortfolioAAL'';
    '

    EXEC sp_executeSQL 
        @Query,
        N'@ReportID INT OUTPUT,
          @InvestedAUM FLOAT OUTPUT,
          @TotalPremium FLOAT OUTPUT,
          @ExpectedLoss FLOAT OUTPUT',
        @ReportID = @ReportID OUTPUT,
        @InvestedAUM = @InvestedAUM OUTPUT,
        @TotalPremium = @TotalPremium OUTPUT,
        @ExpectedLoss = @ExpectedLoss OUTPUT

    SELECT @TotalAUM = NotionalAUM
    FROM PortfolioReport
    WHERE ReportID = @ReportID

    -- Optional: Clear old data
    TRUNCATE TABLE IssuerGuidelineOutput

    SET @Query = '
        INSERT INTO IssuerGuidelineOutput
        (
            Issuer,
            [Exposed Limit],
            [Actual % of AUM],
            Guideline,
            [Guideline Check]
        )
        SELECT 
            a.Issuer,
            SUM(a.ActualAUMPercent) * @TotalAUM AS [Exposed Limit],
            SUM(a.ActualAUMPercent) AS [Actual % of AUM],
            b.MaxLimit AS Guideline,
            CASE 
                WHEN b.MaxLimit < SUM(a.ActualAUMPercent) * @TotalAUM
                THEN ''' + @STATUS_Breached + '''
                ELSE ''' + @STATUS_OK + '''
            END AS [Guideline Check]

        FROM ' + @tblBoundPortfolioDetails + ' a

        INNER JOIN guidelines b
            ON CASE 
                    WHEN a.Issuer = ''Allianz''
                    THEN a.Issuer
                    ELSE a.SecurityInstrument
               END = b.ConstraintName
           AND b.ConstraintType = ''Issuer''

        WHERE a.SecurityInstrument <> ''ILW Short''

        GROUP BY 
            a.Issuer,
            a.SecurityInstrument,
            b.MaxLimit
    '

    PRINT @Query

    EXEC sp_executeSQL 
        @Query,
        N'@TotalAUM FLOAT,
          @InvestedAUM FLOAT,
          @ExpectedLoss FLOAT,
          @TotalPremium FLOAT',
        @TotalAUM = @TotalAUM,
        @InvestedAUM = @InvestedAUM,
        @ExpectedLoss = @ExpectedLoss,
        @TotalPremium = @TotalPremium

    -- Return final output
    --SELECT *
    --FROM IssuerGuidelineOutput

END

--EXEC [dbo].[arapl_getBoundPortfolio_LimitbyIssuer_UI] 558028
    